@use '@tedi-design-system/core/bootstrap-utility/breakpoints';

.tedi-button-group {
  display: flex;
  gap: 0;
  overflow: hidden;

  &--horizontal {
    flex-direction: row;

    .tedi-button-group__item {
      &:first-child {
        border-top-left-radius: var(--button-radius-sm);
        border-bottom-left-radius: var(--button-radius-sm);
      }

      &:not(:last-child) {
        border-right-color: var(--tedi-alpha-01);

        &:active,
        &:hover {
          border-right-color: var(--button-primary-border-hover);
        }
      }

      &:last-child {
        border-top-right-radius: var(--button-radius-sm);
        border-bottom-right-radius: var(--button-radius-sm);
      }
    }

    .tedi-button-group__suffix {
      border-top-right-radius: var(--button-radius-sm);
      border-bottom-right-radius: var(--button-radius-sm);
    }

    .tedi-button-group__prefix {
      border-right: 0;
      border-bottom-right-radius: var(--button-radius-sm);
      border-bottom-left-radius: var(--button-radius-sm);
    }
  }

  &--vertical {
    flex-direction: column;

    .tedi-button-group__item {
      &:first-child {
        border-top-left-radius: var(--button-radius-sm);
        border-top-right-radius: var(--button-radius-sm);
      }

      &:not(:last-child) {
        border-bottom-color: var(--tedi-alpha-01);

        &:active,
        &:hover {
          border-bottom-color: var(--button-primary-border-hover);
        }
      }

      &:last-child {
        border-bottom-right-radius: var(--button-radius-sm);
        border-bottom-left-radius: var(--button-radius-sm);
      }
    }

    .tedi-button-group__suffix,
    .tedi-button-group__prefix {
      width: var(--dimensions-16);

      > span {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }

    .tedi-button-group__suffix {
      border-bottom-right-radius: var(--button-radius-sm);
      border-bottom-left-radius: var(--button-radius-sm);
    }

    .tedi-button-group__prefix {
      border-bottom: 0;
      border-top-left-radius: var(--button-radius-sm);
      border-top-right-radius: var(--button-radius-sm);
    }
  }

  .tedi-button-group__item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: calc(var(--button-md-padding-y) - 1px) var(--button-md-padding-x);
    text-align: center;
    cursor: pointer;
    border-radius: 0;

    @include breakpoints.media-breakpoint-down(md) {
      flex: 1;
    }
  }

  &--stretch {
    .tedi-button-group__item {
      flex: 1;
    }
  }

  &__prefix,
  &__suffix {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 0.5rem;
    font-weight: 700;
    background: var(--general-surface-tertiary);
    border: 1px solid var(--button-primary-border-default);
  }
}
