@use '@tedi-design-system/core/mixins';

$sizes: (
  '0': 0,
  '0-25': 0.25rem,
  '0-5': 0.5rem,
  '0-75': 0.75rem,
  '1': 1rem,
  '1-25': 1.25rem,
  '1-5': 1.5rem,
  '1-75': 1.75rem,
  '2': 2rem,
  '2-5': 2.5rem,
  '5': 5rem,
);
$thicknesses: (
  '1': 1px,
  '2': 2px,
);
$dot-colors: (
  'primary': var(--general-border-primary),
  'secondary': var(--general-border-secondary),
  'accent': var(--general-border-accent),
);

.tedi-separator {
  --vertical-separator-height: 100%;

  position: relative;
  margin: 0;
  border: 0;
  border-top: 1px solid var(--general-border-primary);

  @include mixins.print-grayscale;

  &--vertical {
    height: var(--vertical-separator-height);
    border-top: 0;
    border-left: 1px solid var(--general-border-primary);

    &.tedi-separator--dot-position-start::before {
      top: 0;
      bottom: auto;
    }

    &.tedi-separator--dot-position-center::before {
      top: 0;
      bottom: 0;
      margin: auto 0;
    }

    &.tedi-separator--dot-position-end::before {
      top: auto;
      bottom: 0;
    }

    &.tedi-separator--dotted-xs::before {
      left: calc(var(--separator-dot-size-xs) / 2 * -1);
    }

    &.tedi-separator--dotted-sm::before {
      left: calc(var(--separator-dot-size-sm) / 2 * -1);
    }

    &.tedi-separator--dotted-md::before {
      left: calc(var(--separator-dot-size-md) / 2 * -1);
    }

    &.tedi-separator--dotted-lg::before {
      left: calc(var(--separator-dot-size-lg) / 2 * -1);
    }
  }

  &--horizontal {
    &.tedi-separator--dotted-xs::before {
      top: calc(var(--separator-dot-size-xs) / 2 * -1);
    }

    &.tedi-separator--dotted-sm::before {
      top: calc(var(--separator-dot-size-sm) / 2 * -1);
    }

    &.tedi-separator--dotted-md::before {
      top: calc(var(--separator-dot-size-md) / 2 * -1);
    }

    &.tedi-separator--dotted-lg::before {
      top: calc(var(--separator-dot-size-lg) / 2 * -1);
    }

    &.tedi-separator--dot-position-start::before {
      right: auto;
      left: 0;
    }

    &.tedi-separator--dot-position-center::before {
      right: 0;
      left: 0;
      margin: auto;
    }

    &.tedi-separator--dot-position-end::before {
      right: 0;
      left: auto;
    }
  }

  &--secondary {
    border-color: var(--general-border-secondary);
  }

  &--accent {
    border-color: var(--general-border-accent);
  }

  &--block {
    display: block;
  }

  &--inline {
    display: inline;
  }

  &--is-stretched {
    margin-right: calc(var(--card-content-padding-right) * -1);
    margin-left: calc(var(--card-content-padding-left) * -1);

    &.tedi-separator--vertical {
      height: calc(100% + (var(--card-content-padding-top) + var(--card-content-padding-bottom)));
      margin: calc(var(--card-content-padding-top) * -1) 0 calc(var(--card-content-padding-bottom) * -1);
    }
  }
}

%separator-dotted-base {
  &::before {
    position: absolute;
    content: '';
    background-color: var(--general-border-primary);
    border-radius: 100%;

    @include mixins.print-grayscale;
  }

  &.tedi-separator--vertical {
    min-height: 3rem;
  }
}

.tedi-separator--dotted {
  @extend %separator-dotted-base;

  @each $name, $color in $dot-colors {
    &.tedi-separator--#{$name}::before {
      background-color: $color;
    }
  }
}

@each $size, $value in $sizes {
  .tedi-separator--spacing-#{$size}:not(.tedi-separator--dot-only) {
    margin: #{$value} 0 #{$value} 0;
  }

  .tedi-separator--dot-only.tedi-separator--spacing-#{$size} {
    &.tedi-separator--horizontal {
      margin-right: #{$value};
      margin-left: #{$value};
    }

    &.tedi-separator--vertical {
      margin-top: #{$value};
      margin-bottom: #{$value};
    }
  }

  @each $side in (top, bottom, left, right) {
    .tedi-separator--#{$side}-#{$size} {
      @if $side == top {
        margin-top: #{$value};
      } @else if $side == bottom {
        margin-bottom: #{$value};
      } @else if $side == left {
        margin-left: #{$value};
      } @else if $side == right {
        margin-right: #{$value};
      }
    }
  }
}

@each $thickness, $value in $thicknesses {
  .tedi-separator.tedi-separator--thickness-#{$thickness} {
    border-top-width: #{$value};
  }

  .tedi-separator--vertical.tedi-separator--thickness-#{$thickness} {
    border-left-width: #{$value};
  }
}

.tedi-separator--dot-only {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  border: none;

  &::before {
    position: relative;
    display: block;
    width: var(--separator-dotted-dot-sm);
    height: var(--separator-dotted-dot-sm);
    content: '';
    border-radius: 100%;

    @include mixins.print-grayscale;
  }

  @each $name, $color in $dot-colors {
    &.tedi-separator--#{$name}::before {
      background-color: $color;
    }
  }

  &.tedi-separator--dot-style-outlined {
    &::before {
      background: transparent;
      border-style: solid;
      border-width: var(--separator-thickness, 1px);
    }

    @each $name, $color in $dot-colors {
      &.tedi-separator--#{$name}::before {
        border-color: $color;
      }
    }
  }
}

.tedi-separator--dot-only-xs::before,
.tedi-separator--dotted-xs::before {
  width: var(--separator-dot-size-xs);
  height: var(--separator-dot-size-xs);
}

.tedi-separator--dot-only-sm::before,
.tedi-separator--dotted-sm::before {
  width: var(--separator-dot-size-sm);
  height: var(--separator-dot-size-sm);
}

.tedi-separator--dot-only-md::before,
.tedi-separator--dotted-md::before {
  width: var(--separator-dot-size-md);
  height: var(--separator-dot-size-md);
}

.tedi-separator--dot-only-lg::before,
.tedi-separator--dotted-lg::before {
  width: var(--separator-dot-size-lg);
  height: var(--separator-dot-size-lg);
}

.tedi-separator--horizontal.tedi-separator--dot-position-custom::before {
  right: auto;
  left: var(--separator-dot-position);
}

.tedi-separator--vertical.tedi-separator--dot-position-custom::before {
  top: var(--separator-dot-position);
  bottom: auto;
}
