@use '@tedi-design-system/core/mixins';

$thicknesses: (
  '1': 1px,
  '2': 2px,
);
$dot-colors: (
  'primary': var(--general-border-primary),
  'secondary': var(--general-border-secondary),
  'accent': var(--general-border-accent),
);

.tedi-separator {
  --vertical-separator-height: 100%;

  position: relative;
  margin: var(--separator-margin-top, 0) var(--separator-margin-right, 0) var(--separator-margin-bottom, 0)
    var(--separator-margin-left, 0);
  border: 0;
  border-top: 1px solid var(--general-border-primary);

  @include mixins.print-grayscale;

  &--vertical {
    height: var(--vertical-separator-height);
    border-top: 0;
    border-left: 1px solid var(--general-border-primary);
  }

  &--horizontal {
    display: block;
  }

  &--block {
    display: block;
  }

  &--inline {
    display: inline;
  }

  &--secondary {
    border-color: var(--general-border-secondary);
  }

  &--accent {
    border-color: var(--general-border-accent);
  }

  &--is-stretched {
    margin-right: calc(var(--card-content-padding-right) * -1);
    margin-left: calc(var(--card-content-padding-left) * -1);

    &.tedi-separator--vertical {
      height: calc(100% + (var(--card-content-padding-top) + var(--card-content-padding-bottom)));
      margin: calc(var(--card-content-padding-top) * -1) 0 calc(var(--card-content-padding-bottom) * -1);
    }
  }
}

.tedi-separator--dotted {
  &::before {
    position: absolute;
    content: '';
    background-color: var(--general-border-primary);
    border-radius: 50%;

    @include mixins.print-grayscale;
  }

  &.tedi-separator--vertical {
    min-height: 3rem;
  }
}

.tedi-separator--dot-only {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  border: none;

  &::before {
    position: relative;
    display: block;
    width: var(--separator-dotted-dot-sm);
    height: var(--separator-dotted-dot-sm);
    content: '';
    border-radius: 50%;

    @include mixins.print-grayscale;
  }

  &.tedi-separator--dot-style-outlined::before {
    background: transparent;
  }
}

@each $name, $color in $dot-colors {
  .tedi-separator--#{$name} {
    border-color: $color;

    &::before {
      background-color: $color;
    }

    &.tedi-separator--dot-style-outlined:not(.tedi-separator--dot-only)::before {
      border-color: $color;
    }
  }
}

@each $size, $var in (extra-small: xs, small: sm, medium: md, large: lg) {
  .tedi-separator--dot-only-#{$size}::before,
  .tedi-separator--dotted-#{$size}::before,
  .tedi-separator--dot-style-outlined.tedi-separator--dotted-#{$size}::before {
    width: var(--separator-dot-size-#{$var});
    height: var(--separator-dot-size-#{$var});
  }
}

@each $axis in (horizontal, vertical) {
  @each $pos in (start, center, end) {
    .tedi-separator--#{$axis}.tedi-separator--dot-position-#{$pos}::before {
      @if $axis == horizontal {
        @if $pos == start {
          right: auto;
          left: 0;
        } @else if $pos == center {
          right: 0;
          left: 0;
          margin: auto;
        } @else {
          right: 0;
          left: auto;
        }
      } @else {
        @if $pos == start {
          top: 0;
          bottom: auto;
        } @else if $pos == center {
          top: 0;
          bottom: 0;
          margin: auto 0;
        } @else {
          top: auto;
          bottom: 0;
        }
      }
    }
  }
}

.tedi-separator--horizontal.tedi-separator--dot-position-custom::before {
  right: auto;
  left: var(--separator-dot-position);
}

.tedi-separator--vertical.tedi-separator--dot-position-custom::before {
  top: var(--separator-dot-position);
  bottom: auto;
}

@each $thickness, $value in $thicknesses {
  .tedi-separator--thickness-#{$thickness} {
    border-top-width: $value;
  }
  .tedi-separator--vertical.tedi-separator--thickness-#{$thickness} {
    border-left-width: $value;
  }
}

@each $axis in (horizontal, vertical) {
  @each $size, $var in (extra-small: xs, small: sm, medium: md, large: lg) {
    .tedi-separator--#{$axis}.tedi-separator--dotted-#{$size}::before,
    .tedi-separator--#{$axis}.tedi-separator--dot-style-outlined.tedi-separator--dotted-#{$size}::before {
      @if $axis == horizontal {
        top: calc((var(--separator-dot-size-#{$var}) / 2 + var(--separator-thickness)) * -1);
      } @else {
        left: calc((var(--separator-dot-size-#{$var}) / 2 + var(--separator-thickness) / 2) * -1);
      }
    }
  }
}

.tedi-separator--dot-style-outlined {
  &::before {
    background-color: var(--general-surface-primary);
    border-style: solid;
    border-width: var(--separator-thickness);
  }

  @each $name, $color in $dot-colors {
    &.tedi-separator--#{$name}::before,
    &.tedi-separator--dotted-#{$name}::before {
      z-index: 10;
      border-color: $color;
    }
  }
}
