@use '@tedi-design-system/core/mixins';

.tedi-feedback-text {
  font-size: var(--body-small-regular-size);
  color: var(--general-text-tertiary);

  @include mixins.print-grayscale;

  &--valid {
    color: var(--general-status-success-text);
  }

  &--error {
    color: var(--general-status-danger-text);
  }

  &--left {
    flex-grow: 1;
    text-align: left;
  }

  &--right {
    flex-grow: 0;
    text-align: right;
  }
}
