@use '@tedi-design-system/core/bootstrap-utility/breakpoints';

.tedi-base-map-selection {
  &__wrapper {
    position: relative;
    display: inline-flex;
    border: 1px solid var(--general-border-primary);
    border-radius: var(--tedi-borders-04);

    &:hover {
      cursor: pointer;
    }
  }

  &__content {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: var(--tedi-borders-04);

    & > * {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: var(--tedi-borders-04);
    }
  }

  &__options {
    display: flex;
    flex-wrap: wrap;
    gap: var(--layout-grid-gutters-08);
  }

  &__transparency {
    margin-top: var(--layout-grid-gutters-08);
  }

  &__transparency-field {
    width: 5.5rem;
  }
}

.tedi-base-map-selection--historical {
  &.tedi-base-map-selection__wrapper {
    max-width: 144px;
    height: 80px;

    &:hover {
      border-color: var(--general-border-brand);

      .tedi-base-map-selection__title {
        font-weight: 700;
        color: var(--map-historical-text-hover);
      }
    }

    &:focus-visible {
      outline: var(--tedi-borders-02) solid var(--general-border-brand);
      outline-offset: 1px;
      border-color: var(--general-border-brand);

      .tedi-map-selection__title {
        font-weight: 700;
        color: var(--general-text-brand);
      }
    }

    &.tedi-base-map-selection--selected {
      outline: var(--tedi-borders-02) solid var(--general-border-brand);
      border: 2px solid var(--general-border-white);

      .tedi-base-map-selection__title {
        font-weight: 700;
        color: var(--map-historical-text-selected);
        background-color: var(--map-historical-text-background-selected);
      }

      &:hover {
        .tedi-base-map-selection__title {
          color: var(--map-historical-text-selected);
        }
      }
    }

    .tedi-base-map-selection__title {
      padding: 4px;
      background-color: var(--map-historical-text-background-default);
    }

    @include breakpoints.media-breakpoint-down(md) {
      width: 112px;
      height: 56px;
    }
  }
}

.tedi-base-map-selection__title {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 2px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: var(--tedi-size-00);
  line-height: var(--tedi-size-00);
  text-align: center;
  white-space: nowrap;
  border-radius: 0 0 4px 4px;
}

.tedi-base-map-selection--button {
  width: 80px;
  height: 80px;

  .tedi-base-map-selection__title {
    color: var(--general-text-white);
    background: linear-gradient(180deg, rgb(217 217 217 / 0%) 0%, rgb(0 0 0 / 70%) 100%);
  }

  &:hover {
    outline: var(--tedi-borders-01) solid var(--tedi-primary-500);
    border-color: var(--tedi-neutral-100);
  }

  &:focus-visible {
    outline: var(--tedi-borders-02) solid var(--tedi-primary-500);
    border-color: var(--general-border-white);
  }

  @include breakpoints.media-breakpoint-down(md) {
    width: 56px;
    height: 56px;

    .tedi-base-map-selection__title {
      display: none;
    }
  }
}

.tedi-base-map-selection--selection {
  flex-direction: column;
  border: 0;

  .tedi-base-map-selection__title {
    position: relative;
    margin-top: 4px;

    @include breakpoints.media-breakpoint-down(md) {
      display: none;
    }
  }

  &:hover,
  &:focus-visible {
    font-weight: 700;
    color: var(--general-border-brand);
    border: 0;
  }

  .tedi-base-map-selection__content {
    position: relative;
    display: grid;
    place-items: center;
    width: 76px;
    height: 76px;
    border: 1px solid var(--general-border-primary);

    @include breakpoints.media-breakpoint-down(md) {
      width: 56px;
      height: 56px;
    }
  }

  &:not(.tedi-base-map-selection--multiple) {
    &:hover,
    &:focus-visible {
      .tedi-base-map-selection__content {
        outline: var(--tedi-borders-02) solid var(--tedi-primary-500);
        outline-offset: 1px;
        border-color: var(--general-border-brand);
      }
    }
  }

  &.tedi-base-map-selection--selected {
    .tedi-base-map-selection__content {
      outline: var(--tedi-borders-02) solid var(--tedi-primary-500);
      outline-offset: 1px;
      border-color: var(--general-border-brand);
    }

    .tedi-base-map-selection__title {
      font-weight: 700;
      color: var(--general-text-brand);
    }
  }
}

.tedi-base-map-selection--multiple {
  &:not(.tedi-base-map-selection--selection) {
    &::after {
      position: absolute;
      top: 4px;
      left: 4px;
      z-index: -1;
      width: 100%;
      height: 100%;
      content: '';
      background-color: var(--tedi-neutral-900);
      border: 1px solid var(--tedi-neutral-900);
      border-radius: 4px;
      opacity: 0.7;
    }

    &:active,
    &:hover {
      &::after {
        outline: var(--tedi-borders-01) solid var(--tedi-primary-500);
        border: 1px solid var(--tedi-neutral-100);
      }
    }

    &:focus-visible {
      &::after {
        outline: var(--tedi-borders-02) solid var(--tedi-primary-500);
        background-color: var(--tedi-neutral-100);
        border: 1px solid var(--tedi-neutral-100);
      }
    }
  }

  &.tedi-base-map-selection--selection {
    .tedi-base-map-selection__content {
      width: 76px;
      height: 76px;
      overflow: visible;

      &::after {
        position: absolute;
        top: 2px;
        left: 2px;
        z-index: -1;
        width: 76px;
        height: 76px;
        content: '';
        background-color: var(--tedi-neutral-900);
        border: 1px solid var(--tedi-neutral-900);
        border-radius: 4px;
        opacity: 0.7;
      }
    }

    &:hover {
      > .tedi-base-map-selection__content {
        outline: var(--tedi-borders-01) solid var(--tedi-primary-500);
        border: 1px solid var(--tedi-neutral-100);

        &::after {
          outline: var(--tedi-borders-01) solid var(--tedi-primary-500);
          border: 1px solid var(--tedi-neutral-100);
        }
      }
    }

    &:focus-visible {
      > .tedi-base-map-selection__content {
        outline: var(--tedi-borders-02) solid var(--tedi-primary-500);
        border: 1px solid var(--general-border-white);

        &::after {
          outline: var(--tedi-borders-02) solid var(--tedi-primary-500);
          background-color: var(--tedi-neutral-100);
          border: 1px solid var(--tedi-neutral-100);
        }
      }
    }
  }
}
