@use '@tedi-design-system/core/mixins';

.radio {
  position: relative;
  display: inline;

  @include mixins.print-grayscale;

  &:hover:not(.radio--disabled) {
    cursor: pointer;
  }
}

.radio__input {
  @include mixins.visually-hidden;
}

.radio__indicator {
  position: relative;
  display: block;
  min-width: 1.125rem;
  height: 1.125rem;
  margin-top: 0.125rem;
  margin-right: 0.625rem;
  background-color: var(--general-surface-primary);
  border: 1px solid var(--general-border-secondary);
  border-radius: 50%;
  transition: 150ms ease;
  transition-property: border-color;

  .radio__input:not(:disabled) + &--hover,
  .radio__input:hover:not(:disabled) + &,
  .radio__input:not(:disabled) + &:hover,
  .radio__input:focus:not(:disabled) + & {
    cursor: pointer;
    outline: var(--general-border-brand) solid 1px;
    border: 1px solid var(--general-border-brand);
  }

  &::after {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0.75rem;
    height: 0.75rem;
    content: '';
    background: transparent;
    border: 1px solid transparent;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    transition: 150ms ease;
    transition-property: background-color, border-color;
  }

  [type='radio']:checked + &::after {
    background: var(--general-surface-brand-primary);
    border-color: var(--general-border-brand);
  }

  .radio__input:disabled + & {
    background-color: var(--general-surface-disabled);
  }
}

.radio__tooltip-icon {
  margin-left: 0.25rem;
}

.radio__extra-content {
  padding-top: 0.125rem;
  padding-left: 1.75rem;
}
