@use '@tedi-design-system/core/mixins';

.tedi-radio {
  position: relative;
  color: var(--general-text-primary);

  @include mixins.print-grayscale;

  &:hover:not(.tedi-radio--disabled) {
    cursor: pointer;
  }

  &--disabled {
    color: var(--general-text-disabled);
  }

  &__input {
    @include mixins.visually-hidden;
  }

  &__indicator {
    position: relative;
    display: block;
    margin-right: var(--form-checkbox-radio-inner-spacing);
    background-color: var(--form-checkbox-radio-default-background-default);
    border: 1px solid var(--form-checkbox-radio-default-border-default);
    border-radius: var(--form-checkbox-radio-indicator-radius-radio);
    transition: border-color 150ms ease;

    &::after {
      position: absolute;
      top: 50%;
      left: 50%;
      content: '';
      background: var(--tedi-alpha-01);
      border: 1px solid var(--tedi-alpha-01);
      border-radius: 50%;
      border-radius: var(--form-checkbox-radio-indicator-radius-radio);
      transition: background-color 150ms ease, border-color 150ms ease;
      transform: translate(-50%, -50%);
    }

    &--size-default {
      width: var(--form-checkbox-radio-size-responsive);
      height: var(--form-checkbox-radio-size-responsive);

      &::after {
        width: calc(var(--form-checkbox-radio-size-responsive) * 0.67);
        height: calc(var(--form-checkbox-radio-size-responsive) * 0.67);
      }
    }

    &--size-large {
      width: var(--form-checkbox-radio-size-large);
      height: var(--form-checkbox-radio-size-large);

      &::after {
        width: calc(var(--form-checkbox-radio-size-large) * 0.67);
        height: calc(var(--form-checkbox-radio-size-large) * 0.67);
      }
    }

    &--invalid {
      border-color: var(--form-general-feedback-error-border);
    }

    .tedi-radio__input:not(:disabled) + &--hover,
    .tedi-radio__input:hover:not(:disabled) + &,
    .tedi-radio__input:not(:disabled) + &:hover,
    .tedi-radio__input:focus:not(:disabled) + & {
      cursor: pointer;
      border: 1px solid var(--form-checkbox-radio-default-border-hover);
      outline: 1px solid var(--form-checkbox-radio-default-border-hover);
    }

    [type='radio']:checked + &::after {
      background: var(--form-checkbox-radio-default-background-selected);
      border-color: var(--form-checkbox-radio-default-background-selected);
    }

    .tedi-radio__input:disabled + & {
      background-color: var(--form-input-background-disabled);
      border-color: var(--form-input-border-disabled);
    }

    .tedi-radio__input:disabled:checked + & {
      background-color: var(--form-checkbox-radio-default-background-default);
      border-color: var(--form-checkbox-radio-default-border-selected-disabled);

      &::after {
        background-color: var(--form-checkbox-radio-default-background-selected-disabled);
        border-color: var(--form-checkbox-radio-default-background-selected-disabled);
      }
    }
  }

  &__outer-indicator-wrapper {
    display: flex;
    align-items: center;
    height: var(--form-checkbox-radio-indicator-container-height);
  }

  &__helper {
    padding-left: var(--form-checkbox-radio-size-responsive);
    margin-left: var(--form-checkbox-radio-inner-spacing);
  }
}
