@use '@tedi-design-system/core/mixins';

.check {
  position: relative;
  display: inline;

  @include mixins.print-grayscale;

  &:hover:not(.check--disabled) {
    cursor: pointer;
  }
}

.check__input {
  @include mixins.visually-hidden;
}

.check__indicator {
  position: relative;
  display: block;
  min-width: 1.125rem;
  height: 1.125rem;
  margin-top: 0.125rem;
  margin-right: 0.625rem;
  background-color: var(--general-surface-primary);
  border: 1px solid var(--general-border-secondary);
  border-radius: 2px;
  transition: 150ms ease;
  transition-property: background-color, border-color;

  .check__input:not(:disabled) + &--hover,
  .check__input:hover:not(:disabled) + &,
  .check__input:not(:disabled) + &:hover,
  .check__input:focus:not(:disabled) + & {
    cursor: pointer;
    outline: var(--general-border-brand) solid 1px;
    border-color: var(--general-border-brand);
  }

  .check__input:focus-visible:not(:disabled) + & {
    outline: var(--general-border-brand) solid 2px;
    outline-offset: 2px;
    border-color: var(--general-border-brand);
  }

  [type='checkbox']:checked + &,
  &--indeterminate {
    background: var(--general-surface-brand-primary);
    border-color: var(--general-border-brand);
  }

  .check__input:disabled + & {
    background-color: var(--general-surface-disabled);
  }
}

.check__icon {
  position: absolute;
  color: var(--general-text-white);
  opacity: 0;
  transition: opacity 150ms ease;

  [type='checkbox']:checked + .check__indicator &--check,
  .check__indicator--indeterminate &--indeterminate {
    opacity: 1;
  }
}

.check__tooltip-icon {
  margin-left: 0.25rem;
}

.check__extra-content {
  padding-top: 0.125rem;
  padding-left: 1.75rem;
}
