@mixin toggle-variant($color, $type) {
  @if $type == filled {
    --toggle-bg-default: var(--form-toggl-#{$color}-inactive-default);
    --toggle-bg-hover: var(--form-toggl-#{$color}-inactive-hover);
    --toggle-bg-active: var(--form-toggl-#{$color}-inactive-active);
    --toggle-bg-checked: var(--form-toggl-#{$color}-active-default);
    --toggle-bg-checked-hover: var(--form-toggl-#{$color}-active-hover);
    --toggle-bg-checked-active: var(--form-toggl-#{$color}-active-active);
    --toggle-indicator-default: var(--form-toggl-#{$color}-inactive-indicator);
    --toggle-indicator-checked: var(--form-toggl-#{$color}-active-indicator);
    --toggle-icon-default: var(--form-toggl-#{$color}-inactive-icon);
    --toggle-icon-checked: var(--form-toggl-#{$color}-active-icon);
  }

  @if $type == outlined {
    --toggle-border-default: var(--form-toggl-#{$color}-inactive-default);
    --toggle-border-hover: var(--form-toggl-#{$color}-inactive-hover);
    --toggle-border-active: var(--form-toggl-#{$color}-inactive-active);
    --toggle-border-checked: var(--form-toggl-#{$color}-active-default);
    --toggle-border-checked-hover: var(--form-toggl-#{$color}-active-hover);
    --toggle-border-checked-active: var(--form-toggl-#{$color}-active-active);
    --toggle-indicator-default: var(--form-toggl-#{$color}-inactive-default);
    --toggle-indicator-checked: var(--form-toggl-#{$color}-active-default);
    --toggle-icon-default: var(--form-toggl-#{$color}-inactive-icon-outlined);
    --toggle-icon-checked: var(--form-toggl-#{$color}-active-icon-outlined);
  }
}

.tedi-toggle {
  position: relative;
  display: block;

  &--default {
    --toggle-indicator: var(--form-toggl-default-indicator);

    width: var(--form-toggl-default-width);
    height: var(--form-toggl-default-height);

    .tedi-toggle__slider {
      width: var(--form-toggl-default-indicator);
      height: var(--form-toggl-default-indicator);
    }
  }

  &--large {
    --toggle-indicator: var(--form-toggl-large-indicator);

    width: var(--form-toggl-large-width);
    height: var(--form-toggl-large-height);

    .tedi-toggle__slider {
      width: var(--form-toggl-large-indicator);
      height: var(--form-toggl-large-indicator);
    }
  }

  &--primary-filled {
    @include toggle-variant(primary, filled);
  }

  &--primary-outlined {
    @include toggle-variant(primary, outlined);
  }

  &--colored-filled {
    @include toggle-variant(colored, filled);
  }

  &--colored-outlined {
    @include toggle-variant(colored, outlined);
  }

  &__input {
    width: 100%;
    height: 100%;
    margin: 0;
    appearance: none;
    cursor: pointer;
    background: var(--toggle-bg-default);
    border: var(--borders-01) solid var(--toggle-border-default);
    border-radius: var(--form-toggl-radius);
    transition: background 0.15s ease, border-color 0.15s ease;

    &:hover:not(:disabled) {
      background: var(--toggle-bg-hover);
      border-color: var(--toggle-border-hover);
    }

    &:active:not(:disabled) {
      background: var(--toggle-bg-active);
      border-color: var(--toggle-border-active);
    }

    &:checked {
      background: var(--toggle-bg-checked);
      border-color: var(--toggle-border-checked);

      &:hover:not(:disabled) {
        background: var(--toggle-bg-checked-hover);
        border-color: var(--toggle-border-checked-hover);
      }

      &:active:not(:disabled) {
        background: var(--toggle-bg-checked-active);
        border-color: var(--toggle-border-checked-active);
      }
    }

    &:focus-visible {
      outline: calc(2 * var(--borders-01)) solid var(--form-toggl-primary-active-default);
      outline-offset: var(--borders-01);
    }

    &:checked + .tedi-toggle__slider {
      left: calc(100% - var(--toggle-indicator) - var(--form-toggl-padding));
      color: var(--toggle-icon-checked);
      background-color: var(--toggle-indicator-checked);
      transform: translateY(-50%);

      .tedi-toggle__icon {
        stroke: var(--toggle-icon-checked);
      }
    }
  }

  &__slider {
    position: absolute;
    top: 50%;
    left: var(--form-toggl-padding);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--toggle-icon-default);
    pointer-events: none;
    background-color: var(--toggle-indicator-default);
    border-radius: 50%;
    transition: left 0.17s ease-out, background 0.15s ease;
    transform: translateY(-50%);

    .tedi-toggle__icon {
      stroke: var(--toggle-icon-default);
    }
  }

  &--disabled {
    cursor: not-allowed;
    opacity: 0.5;

    .tedi-toggle__input {
      cursor: not-allowed;
    }
  }

  &__control {
    display: flex;
    gap: var(--layout-grid-gutters-08);
    align-items: center;

    &--label-left {
      flex-direction: row;
    }

    &--label-right {
      flex-direction: row-reverse;
    }
  }
}
