@use '@tedi-design-system/core/mixins';
@use '@tedi-design-system/core/bootstrap-utility/breakpoints';

:root {
  --medium-sidenav-item-height: 2.75rem;
  --small-sidenav-item-height: 2.25rem;
  --tree-trunk-width: 2px;
  --tree-branch-width: 12px;
  --tree-bullet-size: 8px;
  --collapsed-menu-toggle-arrow-top: 20px;
  --collapsed-menu-toggle-arrow-right: 10px;
  --collapsed-title-max-width: 4.5rem;
  --collapsed-menu-width: 6rem;
}

.tedi-sidenav {
  position: relative;
  z-index: var(--z-index-sidenav);
  display: flex;
  flex-direction: column;
  width: var(--navigation-vertical-item-width-default);
  height: 100%;
  margin: 0;
  font-size: var(--navigation-vertical-text-size);
  background-color: var(--navigation-vertical-background);
  transition: all 0.3s ease;

  @include mixins.print-grayscale;
}

.tedi-sidenav__collapse {
  .tedi-sidenav__item {
    position: relative;

    &::before {
      position: absolute;
      top: 0;
      bottom: 0;
      left: var(--button-xs-icon-size);
      z-index: 1;
      width: var(--tree-trunk-width);
      content: '';
      background-color: var(--navigation-vertical-tree-brand-default);
      border-radius: 0;
    }

    &::after {
      position: absolute;
      top: 50%;
      bottom: 0;
      left: var(--button-xs-icon-size);
      width: var(--tree-branch-width);
      height: var(--tree-trunk-width);
      content: '';
      background-color: var(--navigation-vertical-tree-brand-default);
      border-radius: 0 var(--button-radius-sm) var(--button-radius-sm) 0;

      @include breakpoints.media-breakpoint-down(lg) {
        left: var(--button-xs-icon-size);
      }

      @include breakpoints.media-breakpoint-down(sm) {
        left: var(--button-xs-icon-size);
      }
    }

    &:last-child::before {
      height: calc(50% + var(--tree-trunk-width));
    }

    .tedi-sidenav--has-dividers & {
      border-bottom: 0;
    }
  }

  [data-name='collapse-trigger'] {
    border: 1px solid var(--alpha-01);
  }
}

.tedi-sidenav--collapsed {
  width: var(--collapsed-menu-width);
}

.tedi-sidenav--collapsed .tedi-sidenav__title {
  display: inline;
  max-width: var(--collapsed-title-max-width);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.tedi-sidenav--collapsed .tedi-sidenav__bullet,
.tedi-sidenav--collapsed .tedi-sidenav__item span[class^='row'] span[class^='col']:last-child {
  display: none;
}

.tedi-sidenav--collapsed .tedi-sidenav__link {
  flex-direction: column;
  gap: var(--navigation-vertical-item-inner-spacing-sm);
  justify-content: center;
  padding: var(--navigation-vertical-item-padding-y) var(--navigation-vertical-item-padding-x-sm);
  font-size: var(--navigation-vertical-text-size-sm);
  text-align: center;
}

.tedi-sidenav--collapsed .tedi-sidenav__link--active {
  background-color: var(--navigation-vertical-item-background-active);
}

.tedi-sidenav--collapsed .tedi-sidenav__item--has-children {
  position: relative;
}

.tedi-sidenav--collapsed .tedi-sidenav__item--has-children .tedi-sidenav__toggle-icon {
  position: absolute;
  top: var(--collapsed-menu-toggle-arrow-top);
  right: var(--collapsed-menu-toggle-arrow-right);
}

.tedi-sidenav__overlay {
  z-index: calc(var(--z-index-header) - 1);
  background: var(--alpha-20);

  .tedi-sidenav__item--level-2 {
    @include breakpoints.media-breakpoint-down(lg) {
      &::before {
        display: none;
      }

      .tedi-sidenav__link {
        margin-left: 0;

        .tedi-sidenav__bullet {
          display: none;
        }
      }

      .tedi-sidenav__item--level-3 .tedi-sidenav__bullet {
        display: block;
      }
    }
  }
}

.tedi-sidenav__list {
  margin: 0;
  list-style: none;

  .tedi-sidenav__list {
    margin: 0;
  }
}

.tedi-sidenav--has-dividers .tedi-sidenav__item {
  border-bottom: var(--borders-01) solid var(--navigation-vertical-item-border);

  &:last-of-type {
    border-bottom: 0;
  }
}

.tedi-sidenav__item {
  display: flex;
  flex-direction: row;
  background-color: var(--navigation-vertical-item-background-default);
  transition: all 0.3s ease;
}

.tedi-sidenav__item [data-name='collapse-trigger'] {
  border-radius: 0;

  [data-name='icon'] {
    color: var(--general-icon-white);
  }

  &:hover {
    background-color: var(--navigation-vertical-item-background-hover);
  }

  &:focus-visible {
    border: 1px solid var(--neutral-100);
    outline: 1px solid var(--navigation-vertical-item-background-focus);
  }
}

.tedi-sidenav__item [data-name='collapse-trigger'] .tedi-sidenav__link:hover {
  background-color: var(--alpha-00);
}

.tedi-sidenav__item div[class^='tedi-collapse__content'] {
  margin: 0;
}

.tedi-sidenav__item span[class^='row'] {
  margin-right: 0;
  margin-left: 0;

  & span[class^='col']:first-child {
    padding-right: 0;
    padding-left: 0;
  }
}

.tedi-sidenav__item.tedi-sidenav__sub-item .tedi-sidenav__link {
  min-height: auto;
  padding-top: var(--navigation-vertical-item-padding-y);
  padding-bottom: var(--navigation-vertical-item-padding-y);
}

.tedi-sidenav__item .tedi-sidenav__link--has-children-link {
  padding-right: calc(var(--navigation-vertical-item-padding-right) + var(--button-xs-icon-size));

  @include breakpoints.media-breakpoint-down(md) {
    margin-left: calc(var(--navigation-vertical-item-padding-right) + var(--button-xs-icon-size));
  }
}

.tedi-sidenav__item
  .tedi-sidenav__link--has-children-link
  + .tedi-sidenav__link-collapse-wrapper
  [data-name='collapse-trigger'] {
  position: absolute;
  top: calc(var(--navigation-vertical-item-min-height-medium) / 3);
  right: var(--navigation-vertical-item-padding-right);
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--button-xs-icon-size);
  height: var(--button-xs-icon-size);
  border-radius: var(--button-radius-sm);

  &:hover,
  &[aria-expanded='true'] {
    background-color: var(--navigation-vertical-item-background-arrow-button-active);
  }
}

.tedi-sidenav__item--mobile {
  border-bottom: var(--borders-01) solid var(--navigation-vertical-item-border);
}

.tedi-sidenav__item.tedi-sidenav__item--current {
  font-weight: var(--body-bold-weight);
  color: var(--navigation-vertical-item-text);
  background-color: var(--navigation-vertical-item-background-active);
}

.tedi-sidenav__item--medium {
  .tedi-sidenav__link {
    min-height: auto;
  }

  .tedi-sidenav__sub-item .tedi-sidenav__link {
    padding-top: var(--navigation-vertical-item-padding-y);
    padding-bottom: var(--navigation-vertical-item-padding-y);
  }

  .tedi-sidenav__sub-item .tedi-sidenav__title {
    line-height: var(--body-small-regular-line-height);
  }

  .tedi-sidenav__icon {
    font-size: var(--size-05);
  }
}

.tedi-sidenav__item--small {
  .tedi-sidenav__link {
    min-height: auto;
    padding-top: var(--navigation-vertical-item-padding-y-sm);
    padding-bottom: var(--navigation-vertical-item-padding-y-sm);
  }

  .tedi-sidenav__sub-item .tedi-sidenav__title {
    line-height: var(--body-small-regular-line-height);
  }

  .tedi-sidenav__sub-item .tedi-sidenav__link {
    padding-top: var(--navigation-vertical-item-padding-y-sm);
    padding-bottom: var(--navigation-vertical-item-padding-y-sm);
  }

  .tedi-sidenav__icon {
    font-size: var(--size-03);
  }
}

button.tedi-sidenav__link {
  width: 100%;
  background: none;
  border: none;
}

button.tedi-sidenav__link.tedi-sidenav__back-button {
  gap: var(--link-inner-spacing-x);
  border-bottom: var(--borders-01) solid var(--navigation-vertical-item-border);
}

.tedi-sidenav__link {
  position: relative;
  display: flex;
  flex-grow: 1;
  gap: var(--navigation-vertical-item-inner-spacing);
  align-items: center;
  min-height: var(--navigation-vertical-item-min-height-medium);
  padding: var(--navigation-vertical-item-padding-y) var(--navigation-vertical-item-padding-right)
    var(--navigation-vertical-item-padding-y) var(--navigation-vertical-item-padding-left-level-1);
  font: inherit;
  color: var(--navigation-vertical-item-text);
  text-decoration: none;
  border: 1px solid var(--alpha-01);
  border-radius: 0;
  transition: 200ms ease;
  transition-property: background-color, color;

  &:hover {
    background-color: var(--navigation-vertical-item-background-hover);
  }

  &:focus-visible {
    border: 1px solid var(--neutral-100);
    outline: 1px solid var(--navigation-vertical-item-background-focus);
  }
}

.tedi-sidenav__item .tedi-sidenav__item .tedi-sidenav__link .tedi-sidenav__title:first-child {
  margin-left: calc(
    (var(--navigation-vertical-item-min-height-medium) / 3) + var(--navigation-vertical-item-padding-left-level-2)
  );
}

.tedi-sidenav__subheading {
  padding: var(--layout-grid-gutters-02) var(--navigation-vertical-item-padding-left-level-1)
    var(--layout-grid-gutters-04) var(--navigation-vertical-item-padding-right);
  font-size: var(--size-00);
  color: var(--navigation-vertical-group-title-text);
  text-transform: uppercase;

  @include breakpoints.media-breakpoint-down(lg) {
    margin-top: var(--layout-grid-gutters-08);
    background-color: var(--navigation-vertical-item-background-default);

    &:not(.tedi-sidenav__subheading--mobile) {
      position: relative;
      z-index: 10;
      margin-left: var(--layout-grid-gutters-08);
    }
  }
}

.tedi-sidenav__subheading--mobile {
  @include breakpoints.media-breakpoint-down(md) {
    margin-top: var(--layout-grid-gutters-08);
  }
}

.tedi-sidenav__item--current > .tedi-sidenav__subheading {
  color: var(--navigation-vertical-item-text);
  background-color: var(--navigation-vertical-item-background-active);
}

.tedi-sidenav__item .tedi-sidenav__item.sidenav__item--current > .tedi-sidenav__subheading {
  color: var(--navigation-vertical-item-text);
}

.tedi-sidenav__item--has-children {
  position: relative;
  flex-direction: column;

  &::after {
    display: none;
  }

  &::before {
    margin-top: calc(var(--navigation-vertical-item-min-height-medium) / 2);

    @include breakpoints.media-breakpoint-down(lg) {
      margin-top: calc(var(--navigation-vertical-item-min-height-medium) / 2);
    }
  }

  &:hover {
    cursor: pointer;
  }
}

.tedi-sidenav__bullet {
  position: absolute;
  top: 50%;
  left: calc(var(--button-xs-icon-size) - (var(--tree-bullet-size) / 2));

  @include breakpoints.media-breakpoint-down(lg) {
    left: calc((var(--button-xs-icon-size) - (var(--tree-bullet-size) * 2)));
  }

  @include breakpoints.media-breakpoint-down(sm) {
    left: calc(var(--button-xs-icon-size) - (var(--tree-bullet-size)));
  }

  &::before {
    position: absolute;
    width: var(--tree-bullet-size);
    height: var(--tree-bullet-size);
    content: '';
    background-color: var(--navigation-vertical-tree-brand-default);
    border-radius: 100%;
  }
}

.tedi-sidenav__sub-item:has(+ .tedi-sidenav__item--has-children)::before {
  height: calc(50% + var(--tree-trunk-width));
}

.tedi-sidenav__toggle-icon {
  @include breakpoints.media-breakpoint-down(lg) {
    margin-left: auto;
  }
}
