@use '@tedi-design-system/core/mixins';

/* Mui calendar picker */

div.MuiCalendarPicker-root {
  margin: initial;
  border-radius: var(--tedi-radius-02-default);
  box-shadow: 0 2px 4px rgb(0 0 0 / 8%);

  @include mixins.print-grayscale;

  div.MuiPickersFadeTransitionGroup-root {
    .MuiPickersCalendarHeader-label {
      text-transform: capitalize;
    }
  }

  button.MuiPickersDay-root.Mui-highlighted {
    font-weight: 700;
    color: var(--general-text-brand);
    background-color: var(--general-surface-brand-quaternary);
  }

  button.MuiPickersDay-root.Mui-selected {
    font-weight: 700;
    color: var(--general-text-white);
    background-color: var(--general-surface-brand-primary);
  }
}
