@use '@tedi-design-system/core/mixins';

/* Mui datepicker */
div.MuiClockPointer-root {
  @include mixins.print-grayscale;
}

div.MuiClockPointer-root,
div.MuiClock-pin,
div.PrivatePickersYear-root button.Mui-selected,
div.MuiDayPicker-weekContainer button.Mui-selected {
  background-color: var(--general-surface-brand-primary);
}

div.MuiClockPointer-thumb {
  border-color: var(--general-border-brand);
}

div.PrivatePickersYear-root button.Mui-selected:hover,
div.MuiDayPicker-weekContainer button.Mui-selected:hover {
  background-color: var(--general-surface-brand-secondary);
}
