@use '@tedi-design-system/core/mixins';
@use '@tedi-design-system/core/bootstrap-utility/breakpoints';

.tedi-info-button {
  width: var(--button-xs-icon-size);
  height: var(--button-xs-icon-size);
  min-height: var(--button-xs-icon-size);
  vertical-align: bottom;
}
