@use '@tedi-design-system/core/mixins';

@mixin tag-variant($primary-bg, $secondary-bg, $primary-text, $secondary-text) {
  &,
  &.tag--type-default {
    color: $secondary-text;
    background-color: $primary-bg;
  }

  &.tag--type-secondary {
    color: $primary-text;
    background-color: $secondary-bg;
  }

  &.tag--type-ghost {
    color: $primary-bg;
    background-color: var(--general-surface-primary);
    border: 1px solid $primary-bg;

    &.tag--color-accent {
      color: $primary-text;
    }
  }

  &.tag--type-borderless {
    color: $primary-bg;
    background-color: var(--general-surface-primary);
  }

  &.tag--type-invisible,
  &.tag--icon-only {
    padding: 0;
  }

  &.tag--type-invisible {
    color: $primary-bg;
    background-color: transparent;
    border-color: transparent;
  }

  &.tag--disabled {
    opacity: 0.5;
  }

  &.tag--type-secondary,
  &.tag--type-invisible,
  &.tag--type-borderless,
  &.tag--type-ghost {
    &.tag--with-arrow::after {
      border-bottom-color: $secondary-text;
    }
  }
}

.tag,
.tag--default {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: max-content;
  min-width: 1.5rem;
  max-width: 100%;
  min-height: 1.5rem;
  padding: 0.125rem 0.5rem;
  font-size: 0.875rem;
  vertical-align: bottom; // Removes extra pixel added to height by inline-flex
  text-align: center;
  text-decoration: none;
  border-radius: var(--tedi-radius-02-default);

  @include mixins.print-grayscale;

  &.tag--type-ghost {
    padding: calc(0.125rem - 1px) calc(0.5rem - 1px); // padding - ghost border
  }
}

.tag--large {
  min-width: 2.5rem;
  min-height: 2.5rem;
  font-size: 1rem;
}

.tag--color-default {
  @include tag-variant(
    var(--general-surface-inverted-primary),
    var(--general-surface-tertiary),
    var(--general-text-tertiary),
    var(--general-text-white)
  );
}

.tag--color-primary {
  @include tag-variant(
    var(--general-surface-brand-primary),
    var(--general-surface-brand-quaternary),
    var(--general-surface-brand-secondary),
    var(--general-text-white)
  );
}

.tag--color-accent {
  @include tag-variant(
    var(--tedi-accent-600),
    var(--tedi-accent-200),
    var(--tedi-accent-700),
    var(--general-text-white)
  );
}

.tag--color-positive {
  @include tag-variant(var(--tedi-green-600), var(--tedi-green-100), var(--tedi-green-700), var(--general-text-white));
}

.tag--color-warning {
  @include tag-variant(
    var(--tedi-yellow-700),
    var(--tedi-yellow-200),
    var(--tedi-yellow-800),
    var(--general-text-white)
  );
}

.tag--color-important {
  @include tag-variant(var(--tedi-red-600), var(--tedi-red-100), var(--tedi-red-700), var(--general-text-white));
}

.tag--with-arrow {
  &::after {
    position: absolute;
    top: 2px;
    right: 0;
    content: '';
    border-right: 4px solid transparent;
    border-bottom: 4px solid var(--general-text-white);
    border-left: 4px solid transparent;
    transform: rotate(45deg);
  }

  &.tag--large::after {
    right: -1px;
    border-width: 7px;
  }
}

.tag--status-error,
.tag--status-success,
.tag--status-inactive {
  &::before {
    position: absolute;
    top: -0.125rem;
    right: -0.125rem;
    width: 0.625rem;
    height: 0.625rem;
    content: '';
    border: 1px solid var(--general-surface-primary);
    border-radius: 50%;
  }

  &.tag--large::before {
    top: -0.1875rem;
    right: -0.1875rem;
    width: 0.875rem;
    height: 0.875rem;
  }
}

.tag--status-success::before {
  background-color: var(--tedi-green-600);
}

.tag--status-error::before {
  background-color: var(--tedi-red-600);
}

.tag--status-inactive::before {
  background-color: var(--general-text-disabled);
}

.tag--rounded {
  border-radius: 1.5rem;
}
