@use '@tedi-design-system/core/mixins';
@use '@tedi-design-system/core/bootstrap-utility/breakpoints';

.tedi-attachment-wrapper {
  display: block;
  width: 100%;
}

.tedi-attachment {
  display: flex;
  align-items: center;
  width: 100%;
  text-align: left;
  background-color: var(--card-background-tertiary);
  border: 0;
  border-radius: var(--card-radius-rounded);
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

.tedi-attachment--multi-line {
  align-items: flex-start;
}

.tedi-attachment--invalid {
  background-color: var(--card-background-danger);
}

.tedi-attachment__feedback {
  padding-top: var(--layout-grid-gutters-04);
}

.tedi-attachment__icon {
  display: inline-flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  margin-left: var(--layout-grid-gutters-08);
}

.tedi-attachment__body {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: var(--layout-grid-gutters-02);
  min-width: 0;
  padding: var(--layout-grid-gutters-08);
}

.tedi-attachment__name {
  display: flex;
  gap: var(--layout-grid-gutters-08);
  align-items: baseline;
  width: 100%;
}

.tedi-attachment__name-text {
  min-width: 0;
  overflow-wrap: anywhere;
}

.tedi-attachment__invalid-icon {
  flex-shrink: 0;
}

.tedi-attachment__meta {
  display: inline-block;
}

.tedi-attachment__progress {
  width: 100%;
}

@include breakpoints.media-breakpoint-down(md) {
  .tedi-attachment {
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: var(--layout-grid-gutters-02) var(--layout-grid-gutters-08);
    align-items: center;
  }

  .tedi-attachment__icon {
    grid-column: 1;
    align-self: start;
    order: 1;
    margin-top: calc(var(--layout-grid-gutters-08) + var(--layout-grid-gutters-02));
  }

  .tedi-attachment__body {
    grid-column: 2;
    order: 2;
    padding-left: 0;
  }

  .tedi-attachment__name {
    flex-wrap: wrap;
    gap: var(--layout-grid-gutters-02);
  }

  .tedi-attachment__file-size {
    flex-basis: 100%;
    margin-left: 0;
  }

  .tedi-attachment__actions {
    grid-column: 3;
    align-self: start;
    order: 6;
  }
}

@include breakpoints.media-breakpoint-up(md) {
  .tedi-attachment--multi-line .tedi-attachment__icon {
    margin-top: calc(var(--layout-grid-gutters-08) + var(--layout-grid-gutters-02));
  }
}

.tedi-attachment__file-size {
  flex-shrink: 0;
  margin-left: auto;
  white-space: nowrap;
}

.tedi-attachment__actions {
  display: inline-flex;
  flex-shrink: 0;
  align-items: center;
  align-self: flex-start;
  justify-content: center;

  > button {
    border-radius: var(--tedi-radius-02-default);
  }
}
