@use '@tedi-design-system/core/mixins';

.tedi-file-dropzone {
  padding: var(--file-dropzone-padding-y) var(--file-dropzone-padding-x);
  margin-bottom: var(--layout-grid-gutters-04);
  text-align: center;
  cursor: pointer;
  background-color: var(--file-dropzone-background-default);
  border: 2px dotted var(--file-dropzone-border-default);
  border-radius: var(--form-field-radius);
  transition: border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;

  &:hover {
    background-color: var(--file-dropzone-background-hover);
    border-color: var(--file-dropzone-border-hover);
  }

  .tedi-file-dropzone__label-wrapper {
    display: flex;
    justify-content: center;

    .tedi-file-dropzone__label {
      color: var(--file-dropzone-text-default);

      &:hover {
        cursor: pointer;
      }
    }
  }

  &--disabled {
    pointer-events: none;
    cursor: not-allowed;
    background-color: var(--file-dropzone-background-disabled);
    border-color: var(--file-dropzone-border-disabled);

    .tedi-file-dropzone__label-wrapper .tedi-file-dropzone__label {
      color: var(--general-text-disabled);
    }
  }

  &--invalid {
    border-color: var(--form-general-feedback-error-border);
  }

  &--valid {
    border-color: var(--form-general-feedback-success-border);
  }

  &--drop-over {
    color: var(--file-dropzone-text-drop-over);
    background-color: var(--file-dropzone-background-drop-over);
    border-color: var(--file-dropzone-border-drop-over);
  }

  &:focus-visible {
    outline: 2px solid var(--file-dropzone-border-hover);
    outline-offset: 1px;
  }
}

.tedi-file-dropzone__input {
  display: none;
}

.tedi-file-dropzone__file-list {
  width: 100%;
  padding-left: 0;
  margin-top: var(--layout-grid-gutters-04);
}

.tedi-file-dropzone__file-list .tedi-file-dropzone__file-list-item {
  padding-left: 0;
}

.tedi-file-dropzone__file-name {
  overflow-wrap: anywhere;
}
