@use '@tedi-design-system/core/bootstrap-utility/breakpoints';

.tedi-rating {
  display: flex;
  flex-direction: column;
  gap: var(--layout-grid-gutters-04);
  align-items: flex-start;
  width: fit-content;
}

.tedi-rating__items {
  display: flex;
  gap: var(--feedback-star-inner-spacing);
  align-items: flex-start;
}

.tedi-rating--number .tedi-rating__items,
.tedi-rating--icon .tedi-rating__items {
  gap: var(--layout-grid-gutters-08);
}

.tedi-rating__item {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  gap: var(--layout-grid-gutters-04);
  align-items: center;
  cursor: pointer;
}

.tedi-rating--disabled .tedi-rating__item {
  cursor: not-allowed;
}

.tedi-rating__input {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  cursor: inherit;
  opacity: 0;
}

.tedi-rating__visual {
  display: inline-flex;
}

.tedi-rating__input:focus-visible + .tedi-rating__visual {
  outline: 2px solid var(--general-border-brand);
  outline-offset: 2px;
  border-radius: var(--button-radius-default);
}

.tedi-rating__circle {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: var(--button-sm-height);
  height: var(--button-sm-height);
  font-size: var(--body-small-regular-size);
  color: var(--feedback-indicator);
  background-color: var(--general-surface-primary);
  border: var(--tedi-borders-01) solid var(--feedback-indicator);
  border-radius: 50%;
}

.tedi-rating__item--active .tedi-rating__circle {
  color: var(--general-text-white);
  background-color: var(--feedback-indicator);
}

.tedi-rating__caption {
  font-size: var(--body-small-regular-size);
  color: var(--general-text-secondary);
  text-align: center;
}

.tedi-rating__star-caption {
  align-self: stretch;
  min-height: var(--body-extra-small-line-height);
  font-size: var(--body-extra-small-size);
  line-height: var(--body-extra-small-line-height);
  color: var(--general-text-secondary);
  text-align: center;
}

.tedi-rating__endpoints {
  display: flex;
  align-self: stretch;
  justify-content: space-between;
  font-size: var(--body-extra-small-size);
  line-height: var(--body-extra-small-line-height);
  color: var(--general-text-secondary);
}

.tedi-rating--disabled {
  .tedi-rating__circle {
    color: var(--general-text-disabled);
    border-color: var(--general-text-disabled);
  }

  .tedi-rating__item--active .tedi-rating__circle {
    color: var(--general-text-white);
    background-color: var(--general-text-disabled);
  }
}

@include breakpoints.media-breakpoint-down(md) {
  .tedi-rating--number {
    .tedi-rating__items {
      display: grid;
      grid-template-columns: repeat(5, auto);
    }

    .tedi-rating__circle {
      width: var(--button-md-height);
      height: var(--button-md-height);
    }
  }
}
