$tooltip-max-width: (
  'none': none,
  'small': 10rem,
  'medium': 15rem,
  'large': 30rem,
);

.tedi-tooltip {
  z-index: var(--z-index-tooltip);
  padding: var(--tooltip-padding-y) var(--tooltip-padding-x);
  color: var(--tooltip-text);
  background: var(--tooltip-background);
  border-radius: var(--tooltip-radius);

  @each $name, $width in $tooltip-max-width {
    &--#{$name} {
      max-width: min(#{$width}, calc(100vw - 1rem));
    }
  }

  &__arrow {
    z-index: 1;
    fill: var(--tooltip-background);
  }
}
