@use '@tedi-design-system/core/mixins';
@use '@tedi-design-system/core/bootstrap-utility/breakpoints';
@use '../button-content/button-content.module';

$btn-height: 2.75rem;
$btn-height-small: 2.5rem;
$btn-height-large: 3rem;

.tedi-floating-button {
  box-sizing: border-box;
  text-wrap: wrap;
  box-shadow: 0 4px 10px 0 var(--alpha-14);

  &--horizontal {
    border-radius: var(--button-radius-default);
  }

  &--vertical {
    min-width: max-content;
    white-space: nowrap;
    border-radius: 0;
    border-top-left-radius: var(--button-radius-sm);
    border-top-right-radius: var(--button-radius-sm);
    transform: rotate(-90deg);
    transform-origin: center;
  }

  &.tedi-floating-button--primary {
    @include button-content.button-variant(
      var(--button-floating-primary-background-default),
      var(--button-floating-primary-border-default),
      var(--button-floating-primary-text-default),
      var(--button-floating-primary-background-hover),
      var(--button-floating-primary-border-hover),
      var(--button-floating-primary-text-default),
      var(--button-floating-primary-border-focus),
      var(--button-floating-primary-background-focus),
      var(--button-floating-primary-text-default),
      var(--button-floating-primary-border-active),
      var(--button-floating-primary-background-active)
    );
  }

  &.tedi-floating-button--secondary {
    @include button-content.button-variant(
      var(--button-floating-secondary-background-default),
      var(--button-floating-secondary-border-default),
      var(--button-floating-secondary-text-default),
      var(--button-floating-secondary-background-hover),
      var(--button-floating-secondary-border-hover),
      var(--button-floating-secondary-text-hover),
      var(--button-floating-primary-border-focus),
      var(--button-floating-secondary-background-focus),
      var(--button-floating-secondary-text-active),
      var(--button-floating-secondary-border-active),
      var(--button-floating-secondary-background-active)
    );
  }

  &--medium {
    height: auto;
    min-height: $btn-height;
    padding: var(--button-md-padding-y) var(--button-md-padding-x);

    @include breakpoints.media-breakpoint-up(md) {
      min-height: $btn-height-small;
    }

    &.tedi-floating-button--icon-only {
      width: var(--button-md-icon-size);
      height: var(--button-md-icon-size);
      padding: var(--button-md-icon-padding);
    }
  }

  &--large {
    height: auto;
    min-height: $btn-height-large;
    padding: var(--button-lg-padding-y) var(--button-lg-padding-x);

    &.tedi-floating-button--icon-only {
      width: var(--button-xl-icon-size);
      height: var(--button-xl-icon-size);
      padding: var(--button-xl-icon-padding);
    }
  }

  &:not(&--icon-only) {
    min-width: var(--button-width-min);
    max-width: var(--button-width-max);
  }
}
