@use '@tedi-design-system/core/mixins';

$input-height-small: 2rem;

div.select__control {
  border: 1px solid var(--general-border-secondary);

  @include mixins.print-grayscale;
}

.select--invalid .select__control {
  border-color: var(--general-status-danger-border);

  &.select__control--focused {
    box-shadow: 0 0 0 1px var(--general-status-danger-border);
  }
}

.select__arrow {
  // -1px to account for border on top and bottom, making input height 40px
  padding: calc(0.5rem - 1px) 2rem calc(0.5rem - 1px) 0;

  .select__control--focused & {
    color: var(--general-text-brand);
  }

  .select--invalid .select__control--focused & {
    color: var(--general-status-danger-text);
  }
}

div.select__menu-portal {
  z-index: var(--z-index-dropdown);
}

div .select__menu {
  margin: 1px 0 0;
  overflow: hidden;
  border-radius: var(--tedi-radius-02-default);

  @include mixins.print-grayscale;
}

.select__menu .select__menu-list {
  padding: 0;
}

.select__menu .select__menu-list-inner {
  padding: 0;
}

.select__menu-list-footer {
  padding: 1rem;
  border-top: 1px solid var(--general-border-primary);
}

.select__menu .select__option {
  font-size: 0.875rem;
  color: var(--general-text-primary);
  cursor: pointer;
  background-color: var(--general-surface-primary);

  &--focused {
    background-color: var(--general-surface-tertiary);
  }

  &:active,
  &--selected {
    color: var(--general-text-brand);
    background-color: var(--general-surface-brand-tertiary);
  }

  &--disabled {
    color: var(--general-text-disabled);
    cursor: default;
    background-color: var(--general-surface-disabled);
  }
}

.select--small {
  & .select__control {
    height: $input-height-small;
    min-height: $input-height-small;
    font-size: 0.875rem;
  }

  & .select__input {
    padding-top: 0;
    padding-bottom: 0;
  }

  & .select__arrow {
    padding: 0;
  }
}

div.select__multi-value-item {
  display: flex;
  flex-shrink: 0;
  align-items: baseline;
}

.select__checkbox {
  pointer-events: none;
}

.select .select__group {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;

  &:first-child {
    padding-top: 0;
  }

  &:last-child {
    padding-bottom: 0;
  }
}

.select .select__group-heading {
  padding: 0.5rem 0.75rem;
  margin-bottom: 0;
}

.select__multi-value-clear {
  margin: 0 -10px 0 0;
}

:global {
  .select__value-container--is-multi {
    gap: 0.25rem;
  }

  .select__value-container .select__placeholder {
    color: var(--general-text-tertiary);
    pointer-events: none;
  }

  .select__value-container--is-multi .select__placeholder {
    position: absolute;
    left: 0.5rem;
  }

  .select__value-container:not(.select__value-container--is-multi) .select__placeholder {
    position: relative;
    left: 0;
  }
}

.select--tags-row {
  :global .select__control > .select__value-container--is-multi {
    display: flex;
    flex-wrap: nowrap;

    &::after {
      position: absolute;
      inset: 0;
      pointer-events: none;
      content: '';
      box-shadow: inset 0.5rem 0 0.25rem -0.25rem var(--general-border-white);
    }
  }

  &.select--searchable :global .select__control > .select__value-container--is-multi {
    justify-content: flex-end;
  }

  :global .select__control--is-focused .select__input {
    min-width: 5rem !important; // no other way to override style
  }
}

.select--tags-stack {
  :global .select__input-container {
    grid-template-columns: 0 min-content;
    margin: 0;
  }

  :global .select__placeholder {
    left: 0;
  }
}
