@use '@tedi-design-system/core/mixins';
@use '@tedi-design-system/core/bootstrap-utility/breakpoints';

$tag-colors: (
  'primary': 'tag-primary',
  'secondary': 'tag-secondary',
  'danger': 'tag-danger',
);

.tedi-tag {
  --loader-spinner-color-primary: var(--button-close-text-default);
  --general-icon-primary: var(--button-close-text-default);

  display: inline-flex;
  gap: var(--tag-default-padding-x);
  align-items: flex-start;
  justify-content: center;
  padding-right: var(--tag-default-padding-x);
  padding-left: var(--tag-default-padding-x);
  font-size: var(--body-small-regular-size);
  font-weight: var(--body-small-regular-weight);
  line-height: var(--body-small-regular-line-height);
  color: var(--general-text-primary);
  border-radius: var(--tag-default-radius);

  @each $color, $var in $tag-colors {
    &--color-#{$color} {
      background-color: var(--#{$var}-background);
      box-shadow: inset 0 0 0 1px var(--#{$var}-border);
    }
  }

  &__content {
    display: flex;
    align-items: center;
    min-height: var(--button-xs-icon-size);
  }

  &__icon-wrapper {
    display: flex;
    align-items: center;
    min-height: var(--button-xs-icon-size);
  }

  &__loader {
    width: var(--icon-01);
    height: var(--icon-01);
  }

  &__close {
    --button-radius-default: 0;

    padding: 0;
    padding-left: var(--tag-default-padding-x);
    overflow: hidden;

    > button {
      flex-shrink: 0;
      border-top-right-radius: var(--button-radius-sm);
      border-bottom-right-radius: var(--button-radius-sm);
    }
  }

  @include breakpoints.media-breakpoint-down(md) {
    min-height: var(--button-xs-icon-size);
  }

  @include mixins.print-grayscale;
}
