:root {
  /** color variables **/
  --button-expand-background-default: var(--tedi-alpha-white-80);
  --button-map-base-background-default: var(--general-surface-primary);
  --button-map-base-background-hover: var(--general-surface-primary);
  --button-map-base-background-selected: var(--general-surface-primary);
  --button-map-base-border-default: var(--button-primary-border-default);
  --button-map-base-border-hover: var(--button-primary-border-hover);
  --button-map-base-border-selected: var(--general-border-brand);
  --button-map-base-text-background-default: var(--tedi-alpha-white-80);
  --button-map-base-text-background-hover: var(--tedi-alpha-white-80);
  --button-map-base-text-background-selected: var(--general-surface-brand-primary);
  --button-map-info-background-default: var(--tedi-alpha-white-80);
  --button-map-info-background-hover: var(--tedi-alpha-white-80);
  --button-map-info-background-open: var(--button-primary-background-active);
  --button-map-info-text-active: var(--tedi-primary-800);
  --button-map-info-text-default: var(--link-primary-default);
  --button-map-info-text-focus: var(--link-primary-default);
  --button-map-info-text-hover: var(--tedi-primary-700);
  --button-map-info-text-open: var(--tedi-primary-800);
  --button-neutral-inverted-background-active: var(--tedi-alpha-white-10);
  --button-neutral-inverted-background-default: var(--tedi-alpha-01);
  --button-neutral-inverted-background-focus: var(--tedi-alpha-01);
  --button-neutral-inverted-background-hover: var(--tedi-alpha-white-10);
  --button-neutral-inverted-text-active: var(--tedi-neutral-100);
  --button-neutral-inverted-text-default: var(--tedi-neutral-100);
  --button-neutral-inverted-text-focus: var(--tedi-neutral-100);
  --button-neutral-inverted-text-hover: var(--tedi-primary-200);
  --button-neutral-background-active: var(--general-surface-brand-tertiary);
  --button-neutral-background-default: var(--tedi-alpha-01);
  --button-neutral-background-focus: var(--tedi-alpha-01);
  --button-neutral-background-hover: var(--general-surface-hover);
  --button-neutral-border-default: var(--tedi-alpha-01);
  --button-neutral-text-active: var(--tedi-primary-800);
  --button-neutral-text-default: var(--tedi-primary-600);
  --button-neutral-text-focus: var(--tedi-primary-600);
  --button-neutral-text-hover: var(--tedi-primary-700);
  --button-primary-background-active: var(--general-surface-brand-tertiary);
  --button-primary-background-default: var(--tedi-neutral-100);
  --button-primary-background-focus: var(--tedi-neutral-100);
  --button-primary-background-hover: var(--general-surface-hover);
  --button-primary-border-active: var(--tedi-primary-700);
  --button-primary-border-default: var(--general-border-primary);
  --button-primary-border-focus: var(--tedi-primary-600);
  --button-primary-border-hover: var(--tedi-primary-600);
  --button-primary-text-active: var(--tedi-primary-800);
  --button-primary-text-default: var(--tedi-primary-600);
  --button-primary-text-focus: var(--tedi-primary-600);
  --button-primary-text-hover: var(--tedi-primary-700);
  --drag-indicator-accent: var(--general-border-accent);
  --drag-indicator-light: var(--general-border-primary);
  --drag-indicator-button-background: var(--tedi-primary-200);
  --drag-indicator-button-icon: var(--general-icon-brand);
  --form-icon-selection-active: var(--general-icon-brand);
  --form-icon-selection-inactive: var(--general-icon-secondary);
  --logo-primary: var(--tedi-neutral-100);
  --logo-secondary-blue: #003087;
  --logo-secondary-blue-dark: #263b80;
  --map-application-link: var(--link-primary-default);
  --map-historical-background-default: var(--general-surface-primary);
  --map-historical-background-hover: var(--general-surface-primary);
  --map-historical-background-selected: var(--general-surface-primary);
  --map-historical-border-default: var(--button-primary-border-default);
  --map-historical-border-hover: var(--button-primary-border-hover);
  --map-historical-border-selected: var(--general-border-brand);
  --map-historical-text-default: var(--general-text-secondary);
  --map-historical-text-hover: var(--general-text-brand);
  --map-historical-text-selected: var(--general-text-white);
  --map-historical-text-background-default: var(--tedi-alpha-white-80);
  --map-historical-text-background-hover: var(--tedi-alpha-white-80);
  --map-historical-text-background-selected: var(--general-surface-brand-primary);
  --measurement-tooltip: var(--tedi-alpha-80);
  --mirror-indicator: var(--drag-indicator-accent);
  --shape-default: var(--tedi-accent-600);
  --shape-hover: var(--tedi-accent-500);
  --shape-disabled-background: var(--tedi-alpha-white-50);
  --shape-disabled-border: var(--button-card-disabled-border);
  --shape-edit-background-default: #ff800099;
  --shape-edit-background-hover: #ff8000cc;
  --shape-edit-border-default: var(--tedi-accent-600);
  --shape-edit-border-hover: var(--tedi-accent-600);
  --shape-read-background-default: #e7f0f699;
  --shape-read-background-hover: #e7f0f6cc;
  --shape-read-border-default: var(--general-border-brand);
  --shape-read-border-hover: var(--general-border-brand);
  --sheet-body-default: var(--general-surface-primary);
  --sheet-body-secondary: var(--general-surface-tertiary);
  --sheet-footer-background: var(--sheet-header-background-default);
  --sheet-header-border: var(--general-border-primary);
  --sheet-header-background-brand: var(--general-surface-brand-primary);
  --sheet-header-background-default: var(--general-surface-primary);
  --sidepanel-background: var(--general-surface-primary);
  --sidepanel-footer-background: var(--general-surface-tertiary);
  --sidepanel-header-background-default: var(--tedi-blue-800);
  --sidepanel-header-background-open: var(--sidepanel-item-brand-background-open);
  --sidepanel-item-brand-background-default: var(--general-surface-brand-primary);
  --sidepanel-item-brand-background-open: var(--general-surface-brand-secondary);
  --sidepanel-item-brand-border-bottom: var(--tedi-primary-800);
  --sidepanel-item-white-background-default: var(--general-surface-primary);
  --sidepanel-item-white-background-hover: var(--general-surface-hover);
  --sidepanel-tree-default: var(--general-border-primary);
  --sidepanel-tree-hover: var(--tedi-primary-200);
  --timeline-indicator-border: var(--tedi-primary-600);
  --timeline-indicator-background-default: var(--tedi-neutral-300);
  --timeline-indicator-background-hover: var(--general-surface-primary);
  --timeline-indicator-background-selected: var(--timeline-indicator-background-hover);
  --timeline-indicator-icon-default: var(--general-icon-brand);
  --timeline-indicator-icon-hover: var(--general-icon-brand);
  --timeline-indicator-icon-selected: var(--general-icon-brand-dark);
  --timeline-line-large: var(--general-border-brand);
  --timeline-line-small: var(--general-border-secondary);

  /** dimensional variables **/
  --button-size-default: var(--dimensions-19);
  --sidepanel-item-padding-x: var(--dimensions-05);
  --sidepanel-layers-subitem-padding-left: var(--dimensions-03);
  --button-size-sm: var(--dimensions-16);
  --sidepanel-min-width: 316px;
  --sidepanel-min-width-rem: 19.75rem;
  --sidepanel-layers-drag-indicator-width: var(--dimensions-03);
  --timeline-line-small-height: 0.5rem;
  --timeline-line-medium: 12px;
  --timeline-line-medium-rem: 0.75rem;
  --timeline-line-large-height: 1rem;
  --timeline-layout-gutter: var(--dimensions-07);
  --timeline-layout-padding-left: var(--timeline-layout-gutter-mobile);
  --timeline-layout-padding-top: var(--dimensions-13);
  --measure-line-width: var(--borders-03);
  --sheet-header-radius: 0px;
  --sheet-header-radius-rem: 0rem;
  --sheet-header-padding-y: 0px;
  --sheet-header-padding-y-rem: 0rem;
  --sheet-header-padding-x: 0px;
  --sheet-header-padding-x-rem: 0rem;
  --sheet-body-padding-x: 0px;
  --sheet-body-padding-x-rem: 0rem;
  --sheet-footer-padding-y: 0px;
  --sheet-footer-padding-y-rem: 0rem;
  --sheet-footer-padding-x: 0px;
  --sheet-footer-padding-x-rem: 0rem;
  --sheet-body-padding-y: 0px;
  --sheet-body-padding-y-rem: 0rem;
  --drag-indicator-radius: var(--radius-08);
  --sidepanel-right-radius: var(--card-radius-rounded-desktop);
  --sidepanel-item-height: var(--dimensions-16);
  --tree-width: var(--dimensions-13);
  --tree-width-sm: var(--dimensions-11);
  --sidepanel-header-padding-top: var(--dimensions-10);
  --sidepanel-header-padding-y: var(--dimensions-05);
  --sidepanel-footer-padding-y: var(--dimensions-05);
  --drag-indicator-vertical-width: var(--dimensions-03);
  --sidepanel-item-padding-y: var(--dimensions-03);
  --mirror-border: var(--dimensions-03);
  --sheet-header-height: 0px;
  --sheet-header-height-rem: 0rem;
  --sidepanel-header-radius-bottom: var(--radius-03);
  --logo-fund-horizontal-min-width: 165px;
  --logo-fund-horizontal-min-width-rem: 10.3125rem;
  --logo-fund-vertical-min-width: 96px;
  --logo-fund-vertical-min-width-rem: 6rem;
  --logo-fund-horizontal-min-height: 96px;
  --logo-fund-horizontal-min-height-rem: 6rem;
  --logo-fund-vertical-min-height: 182px;
  --logo-fund-vertical-min-height-rem: 11.375rem;
  --logo-riigiamet-min-height: 46px;
  --logo-riigiamet-min-height-rem: 2.875rem;
  --form-radio-selection-size: var(--dimensions-13);
  --sidepanel-padding-y: var(--dimensions-05);
  --button-meta-info-padding: var(--dimensions-03);

  @media (width <= 62rem) {
    --button-size-default: var(--dimensions-19);
    --sidepanel-item-padding-x: var(--dimensions-05);
    --sidepanel-layers-subitem-padding-left: var(--dimensions-03);
    --button-size-sm: var(--dimensions-16);
    --sidepanel-min-width: 316px;
    --sidepanel-min-width-rem: 19.75rem;
    --sidepanel-layers-drag-indicator-width: var(--dimensions-03);
    --timeline-line-small-height: 0rem;
    --timeline-line-medium: 0px;
    --timeline-line-medium-rem: 0rem;
    --timeline-line-large-height: 0rem;
    --timeline-layout-gutter: 0px;
    --timeline-layout-gutter-rem: 0rem;
    --timeline-layout-padding-left: 0px;
    --timeline-layout-padding-left-rem: 0rem;
    --timeline-layout-padding-top: 0px;
    --timeline-layout-padding-top-rem: 0rem;
    --measure-line-width: var(--borders-03);
    --sheet-header-radius: 0px;
    --sheet-header-radius-rem: 0rem;
    --sheet-header-padding-y: 0px;
    --sheet-header-padding-y-rem: 0rem;
    --sheet-header-padding-x: 0px;
    --sheet-header-padding-x-rem: 0rem;
    --sheet-body-padding-x: 0px;
    --sheet-body-padding-x-rem: 0rem;
    --sheet-footer-padding-y: 0px;
    --sheet-footer-padding-y-rem: 0rem;
    --sheet-footer-padding-x: 0px;
    --sheet-footer-padding-x-rem: 0rem;
    --sheet-body-padding-y: 0px;
    --sheet-body-padding-y-rem: 0rem;
    --drag-indicator-radius: var(--radius-08);
    --sidepanel-right-radius: var(--card-radius-rounded-tablet);
    --sidepanel-item-height: var(--dimensions-16);
    --tree-width: var(--dimensions-13);
    --tree-width-sm: var(--dimensions-11);
    --sidepanel-header-padding-top: var(--dimensions-10);
    --sidepanel-header-padding-y: var(--dimensions-05);
    --sidepanel-footer-padding-y: var(--dimensions-05);
    --drag-indicator-vertical-width: var(--dimensions-03);
    --sidepanel-item-padding-y: var(--dimensions-03);
    --mirror-border: var(--dimensions-03);
    --sheet-header-height: 0px;
    --sheet-header-height-rem: 0rem;
    --sidepanel-header-radius-bottom: var(--radius-03);
    --logo-fund-horizontal-min-width: 165px;
    --logo-fund-horizontal-min-width-rem: 10.3125rem;
    --logo-fund-vertical-min-width: 96px;
    --logo-fund-vertical-min-width-rem: 6rem;
    --logo-fund-horizontal-min-height: 96px;
    --logo-fund-horizontal-min-height-rem: 6rem;
    --logo-fund-vertical-min-height: 182px;
    --logo-fund-vertical-min-height-rem: 11.375rem;
    --logo-riigiamet-min-height: 46px;
    --logo-riigiamet-min-height-rem: 2.875rem;
    --form-radio-selection-size: var(--dimensions-13);
    --sidepanel-padding-y: var(--dimensions-05);
    --button-meta-info-padding: var(--dimensions-03);
  }

  @media (width <= 48rem) {
    --button-size-default: var(--dimensions-19);
    --sidepanel-item-padding-x: var(--dimensions-05);
    --sidepanel-layers-subitem-padding-left: var(--dimensions-03);
    --button-size-sm: var(--dimensions-16);
    --sidepanel-min-width: 316px;
    --sidepanel-min-width-rem: 19.75rem;
    --sidepanel-layers-drag-indicator-width: var(--dimensions-03);
    --timeline-line-small-height: 0.5rem;
    --timeline-line-medium: 12px;
    --timeline-line-medium-rem: 0.75rem;
    --timeline-line-large-height: 1rem;
    --timeline-layout-gutter: var(--dimensions-07);
    --timeline-layout-padding-left: var(--timeline-layout-gutter-mobile);
    --timeline-layout-padding-top: var(--dimensions-06);
    --measure-line-width: var(--borders-03);
    --sheet-header-radius: 24px;
    --sheet-header-radius-rem: 1.5rem;
    --sheet-header-padding-y: var(--dimensions-05);
    --sheet-header-padding-x: var(--dimensions-10);
    --sheet-body-padding-x: var(--sheet-header-padding-x-mobile);
    --sheet-footer-padding-y: var(--sheet-header-padding-y-mobile);
    --sheet-footer-padding-x: var(--sheet-header-padding-x-mobile);
    --sheet-body-padding-y: var(--sheet-header-padding-y-mobile);
    --drag-indicator-radius: var(--radius-08);
    --sidepanel-right-radius: var(--card-radius-rounded-mobile);
    --sidepanel-item-height: var(--dimensions-17);
    --tree-width: var(--dimensions-13);
    --tree-width-sm: var(--dimensions-11);
    --sidepanel-header-padding-top: var(--dimensions-10);
    --sidepanel-header-padding-y: var(--dimensions-05);
    --sidepanel-footer-padding-y: var(--dimensions-05);
    --drag-indicator-vertical-width: var(--dimensions-03);
    --sidepanel-item-padding-y: var(--dimensions-03);
    --mirror-border: var(--dimensions-03);
    --sheet-header-height: 60px;
    --sheet-header-height-rem: 3.75rem;
    --sidepanel-header-radius-bottom: var(--radius-03);
    --logo-fund-horizontal-min-width: 165px;
    --logo-fund-horizontal-min-width-rem: 10.3125rem;
    --logo-fund-vertical-min-width: 96px;
    --logo-fund-vertical-min-width-rem: 6rem;
    --logo-fund-horizontal-min-height: 96px;
    --logo-fund-horizontal-min-height-rem: 6rem;
    --logo-fund-vertical-min-height: 182px;
    --logo-fund-vertical-min-height-rem: 11.375rem;
    --logo-riigiamet-min-height: 46px;
    --logo-riigiamet-min-height-rem: 2.875rem;
    --form-radio-selection-size: var(--dimensions-13);
    --sidepanel-padding-y: var(--dimensions-05);
    --button-meta-info-padding: var(--dimensions-03);
  }
}

:root.dark-mode {
  --button-expand-background-default: var(--tedi-alpha-80);
  --button-map-base-background-default: var(--tedi-neutral-850);
  --button-map-base-background-hover: var(--tedi-neutral-850);
  --button-map-base-background-selected: var(--tedi-neutral-850);
  --button-map-base-border-default: var(--tedi-neutral-750);
  --button-map-base-border-hover: var(--button-primary-border-hover);
  --button-map-base-border-selected: var(--general-border-brand);
  --button-map-base-text-background-default: var(--tedi-alpha-white-80);
  --button-map-base-text-background-hover: var(--tedi-alpha-white-80);
  --button-map-base-text-background-selected: var(--general-surface-brand-primary);
  --button-map-info-background-default: var(--tedi-alpha-80);
  --button-map-info-background-hover: var(--tedi-alpha-80);
  --button-map-info-background-open: var(--button-primary-background-active);
  --button-map-info-text-active: var(--link-inverted-default);
  --button-map-info-text-default: var(--link-inverted-default);
  --button-map-info-text-focus: var(--link-inverted-default);
  --button-map-info-text-hover: var(--link-inverted-default);
  --button-map-info-text-open: var(--link-inverted-default);
  --button-neutral-inverted-background-active: var(--tedi-alpha-white-10);
  --button-neutral-inverted-background-default: var(--tedi-alpha-01);
  --button-neutral-inverted-background-focus: var(--tedi-alpha-01);
  --button-neutral-inverted-background-hover: var(--tedi-alpha-white-10);
  --button-neutral-inverted-text-active: var(--tedi-primary-400);
  --button-neutral-inverted-text-default: var(--tedi-neutral-100);
  --button-neutral-inverted-text-focus: var(--tedi-neutral-100);
  --button-neutral-inverted-text-hover: var(--tedi-primary-200);
  --button-neutral-background-active: var(--tedi-primary-700);
  --button-neutral-background-default: var(--tedi-alpha-01);
  --button-neutral-background-focus: var(--tedi-alpha-01);
  --button-neutral-background-hover: var(--tedi-primary-800);
  --button-neutral-border-default: var(--tedi-alpha-01);
  --button-neutral-text-active: var(--tedi-primary-300);
  --button-neutral-text-default: var(--tedi-neutral-100);
  --button-neutral-text-focus: var(--tedi-neutral-100);
  --button-neutral-text-hover: var(--tedi-primary-200);
  --button-primary-background-active: var(--tedi-neutral-850);
  --button-primary-background-default: var(--tedi-neutral-850);
  --button-primary-background-focus: var(--tedi-neutral-850);
  --button-primary-background-hover: var(--tedi-neutral-800);
  --button-primary-border-active: var(--tedi-neutral-100);
  --button-primary-border-default: var(--tedi-neutral-750);
  --button-primary-border-focus: var(--tedi-neutral-750);
  --button-primary-border-hover: var(--tedi-neutral-800);
  --button-primary-text-active: var(--tedi-neutral-100);
  --button-primary-text-default: var(--tedi-neutral-350);
  --button-primary-text-focus: var(--tedi-neutral-100);
  --button-primary-text-hover: var(--tedi-neutral-100);
  --drag-indicator-accent: var(--general-border-accent);
  --drag-indicator-light: var(--tedi-alpha-white-50);
  --drag-indicator-button-background: var(--tedi-alpha-80);
  --drag-indicator-button-icon: var(--general-icon-white);
  --form-icon-selection-active: var(--general-icon-white);
  --form-icon-selection-inactive: var(--general-icon-tertiary);
  --logo-primary: var(--tedi-neutral-100);
  --logo-secondary-blue: var(--tedi-neutral-100);
  --logo-secondary-blue-dark: var(--tedi-neutral-100);
  --map-application-link: var(--link-inverted-default);
  --map-historical-background-default: var(--tedi-neutral-850);
  --map-historical-background-hover: var(--tedi-neutral-850);
  --map-historical-background-selected: var(--tedi-neutral-850);
  --map-historical-border-default: var(--tedi-neutral-750);
  --map-historical-border-hover: var(--button-primary-border-hover);
  --map-historical-border-selected: var(--general-border-brand);
  --map-historical-text-default: var(--tedi-neutral-300);
  --map-historical-text-hover: var(--general-text-brand);
  --map-historical-text-selected: var(--general-text-white);
  --map-historical-text-background-default: var(--tedi-alpha-80);
  --map-historical-text-background-hover: var(--tedi-alpha-80);
  --map-historical-text-background-selected: var(--general-surface-brand-primary);
  --measurement-tooltip: var(--tedi-alpha-80);
  --mirror-indicator: var(--drag-indicator-accent);
  --shape-default: var(--tedi-accent-600);
  --shape-hover: var(--tedi-accent-500);
  --shape-disabled-background: var(--tedi-alpha-white-50);
  --shape-disabled-border: var(--button-card-disabled-border);
  --shape-edit-background-default: #ff800099;
  --shape-edit-background-hover: #ff8000cc;
  --shape-edit-border-default: var(--tedi-accent-600);
  --shape-edit-border-hover: var(--tedi-accent-600);
  --shape-read-background-default: #e7f0f699;
  --shape-read-background-hover: #e7f0f6cc;
  --shape-read-border-default: var(--general-border-brand);
  --shape-read-border-hover: var(--general-border-brand);
  --sheet-body-default: var(--tedi-neutral-850);
  --sheet-body-secondary: var(--tedi-neutral-750);
  --sheet-footer-background: var(--sheet-header-background-default);
  --sheet-header-border: var(--sheet-header-background-default);
  --sheet-header-background-brand: var(--tedi-neutral-800);
  --sheet-header-background-default: var(--tedi-neutral-800);
  --sidepanel-background: var(--tedi-neutral-850);
  --sidepanel-footer-background: var(--tedi-neutral-850);
  --sidepanel-header-background-default: var(--tedi-neutral-800);
  --sidepanel-header-background-open: var(--sidepanel-item-brand-background-open);
  --sidepanel-item-brand-background-default: var(--tedi-neutral-750);
  --sidepanel-item-brand-background-open: var(--tedi-neutral-800);
  --sidepanel-item-brand-border-bottom: var(--tedi-neutral-750);
  --sidepanel-item-white-background-default: var(--tedi-neutral-850);
  --sidepanel-item-white-background-hover: var(--tedi-neutral-800);
  --sidepanel-tree-default: var(--general-border-primary);
  --sidepanel-tree-hover: var(--tedi-neutral-750);
  --timeline-indicator-border: var(--drag-indicator-accent);
  --timeline-indicator-background-default: var(--tedi-neutral-750);
  --timeline-indicator-background-hover: var(--tedi-neutral-850);
  --timeline-indicator-background-selected: var(--timeline-indicator-background-hover);
  --timeline-indicator-icon-default: var(--general-icon-white);
  --timeline-indicator-icon-hover: var(--general-icon-white);
  --timeline-indicator-icon-selected: var(--general-icon-white);
  --timeline-line-large: #fff;
  --timeline-line-small: #fff;
  --form-checkbox-radio-card-primary-selected-background: #99bdda;
  --button-group-primary-selected-background: var(--form-checkbox-radio-card-primary-selected-background);
}
