@use '@tedi-design-system/core/mixins';

.dropdown {
  z-index: var(--z-index-dropdown);
  display: flex;
  flex-direction: column;
  background: var(--general-surface-primary);
  border: 1px solid var(--general-border-primary);
  border-radius: 4px;
}

.dropdown__item {
  @include mixins.button-reset;

  padding: 0.5rem 0.75rem;
  color: var(--general-text-primary);
  text-align: left;
  border-radius: 0;

  &--active {
    color: var(--general-text-brand);
    background-color: var(--general-surface-brand-tertiary);
  }

  &--disabled {
    color: var(--general-text-disabled);
    background-color: var(--general-surface-disabled);
  }

  &:hover,
  &:focus-visible {
    &:not(.dropdown__item--disabled) {
      color: var(--general-text-brand);
      cursor: pointer;
      outline: 0;
      background-color: var(--general-surface-brand-quaternary);
    }
  }
}
