.tedi-left-panel {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100dvh;
  overflow: hidden;
  color: var(--general-text-primary);
  background-color: var(--general-surface-primary);
}

.tedi-left-panel__header {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;
  padding: var(--sidepanel-header-padding-y) var(--sidepanel-item-padding-x);
  color: var(--general-text-white);
  background-color: var(--general-surface-brand-primary);
}

.tedi-left-panel__close {
  margin-left: auto;
}

.tedi-left-panel__footer {
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  gap: var(--layout-grid-gutters-04);
  align-items: flex-start;
  align-self: stretch;
  justify-content: center;
  padding: var(--sidepanel-item-padding-x);
  font-size: var(--body-small-regular-size);
  line-height: var(--body-small-regular-line-height);
  word-break: break-all;
  background: var(--general-surface-secondary);
  border-top: var(--tedi-borders-01) solid var(--general-border-primary);
}

.tedi-left-panel__header-controls {
  display: flex;
  gap: var(--layout-grid-gutters-08);
  align-items: center;
  justify-content: space-between;
  padding-right: var(--sidepanel-item-padding-x);
  padding-bottom: var(--layout-grid-gutters-04);
  padding-left: var(--sidepanel-item-padding-x);
  color: var(--general-text-white);
  background-color: var(--general-surface-brand-primary);
  border-bottom-right-radius: var(--sidepanel-header-radius-bottom);
  border-bottom-left-radius: var(--sidepanel-header-radius-bottom);
}

.tedi-left-panel__actions {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  min-height: 0;
}

.tedi-left-panel__content-wrapper {
  flex: 1 1 auto;
  overflow: hidden auto;
}

.tedi-left-panel__expander-button {
  position: absolute;
  top: var(--layout-grid-gutters-08);
  left: 0;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  width: var(--button-md-icon-size);
  height: var(--button-md-icon-size);
  cursor: pointer;
  background-color: var(--general-surface-primary);
  border: var(--tedi-borders-01) solid var(--general-border-primary);
  border-radius: var(--sidepanel-header-radius-bottom);
  box-shadow: 0 2px 4px var(--tedi-alpha-14);
}
