@use '@tedi-design-system/core/mixins';

:root {
  --alert-default-padding-x-sm: 8px;
}

.tedi-left-panel {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 330px;
  height: 100vh;
  overflow: hidden;
  background-color: var(--sidepanel-background);

  &__alert {
    padding: var(--alert-default-padding-x-sm);
    margin-bottom: var(--sidepanel-header-padding-y);
  }
}

.tedi-left-panel__header {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;
  padding: var(--sidepanel-header-padding-y) var(--sidepanel-item-padding-x);
  color: var(--button-main-neutral-inverted-text-default);
  background-color: var(--sidepanel-header-background-default);
}

.tedi-left-panel__content {
  padding: var(--sidepanel-item-padding-x);
}

.tedi-left-panel__footer {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  gap: var(--layout-grid-gutters-04);
  align-items: flex-start;
  align-self: stretch;
  justify-content: center;
  padding: var(--sidepanel-item-padding-x);
  font-size: var(--body-small-regular-size);
  line-height: var(--body-small-regular-line-height);
  word-break: break-all;
  background: var(--sidepanel-footer-background);
  border-top: 1px solid var(--general-border-primary);

  &__theme-switch {
    width: 100%;
    padding: 8px 0;
  }
}

.tedi-left-panel__header-controls {
  display: flex;
  gap: var(--layout-grid-gutters-08);
  align-items: center;
  justify-content: space-between;
  padding-right: var(--sidepanel-item-padding-x);
  padding-bottom: var(--layout-grid-gutters-04);
  padding-left: var(--sidepanel-item-padding-x);
  color: var(--button-main-neutral-inverted-text-default);
  background-color: var(--sidepanel-header-background-default);
  border-bottom-right-radius: var(--sidepanel-header-radius-bottom);
  border-bottom-left-radius: var(--sidepanel-header-radius-bottom);
}

.tedi-accordion {
  [data-name='accordion-item-header'] {
    border-radius: 0;
  }
}

.tedi-left-panel__content-wrapper {
  flex: 1 1 auto;
  overflow: hidden auto;
}
