@use '@tedi-design-system/core/mixins';

:root {
  --tree-dimensions: 2px;
  --panel-item-padding-left: 24px;
}

.tedi-map-layer {
  &__select-all {
    padding: 1rem;
    padding-top: var(--card-padding-xs);
    padding-bottom: var(--card-padding-xs);
  }

  &__item {
    padding: var(--card-padding-xs) 0;
    padding-top: var(--card-padding-xs);
    padding-bottom: var(--card-padding-xs);
  }

  > .tedi-map-layer__item {
    position: relative;
    padding-left: calc(var(--panel-item-padding-left) + 1rem);

    &::before {
      position: absolute;
      top: 0;
      bottom: 0;
      left: calc(var(--layout-grid-gutters-08) + 1rem);
      width: var(--tree-dimensions);
      content: '';
      background-color: var(--general-border-primary);
      border-radius: 0;
    }

    &::after {
      position: absolute;
      top: calc((var(--layout-grid-gutters-08) * 2) + (calc(var(--tree-dimensions) * 2)));
      bottom: 0;
      left: calc(var(--layout-grid-gutters-08) + 1rem);
      width: var(--layout-grid-gutters-08);
      height: var(--tree-dimensions);
      content: '';
      background-color: var(--general-border-primary);
      border-radius: 0 10px 10px 0;
    }

    &:last-child::before {
      height: calc((var(--layout-grid-gutters-08) * 2) + (calc(var(--tree-dimensions) * 2)));
    }

    &:first-child::before {
      top: var(--layout-grid-gutters-08);
    }

    &:hover {
      background-color: var(--sidepanel-item-white-background-hover);

      &::after,
      &::before {
        background-color: var(--sidepanel-tree-hover);
      }
    }

    &:hover .tedi-map-layer__actions {
      pointer-events: auto;
      opacity: 1;
    }
  }

  &__label {
    font-weight: bold;
  }

  &.tedi-map-layer--no-checkboxes {
    .tedi-map-layer__item {
      padding-top: var(--layout-grid-gutters-04);
      padding-bottom: var(--layout-grid-gutters-04);
    }
  }
}

.tedi-map-layer__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.tedi-map-layer__actions {
  display: flex;
  gap: var(--layout-grid-gutters-04);
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.2s ease;
}
