@use '@tedi-design-system/core/mixins';
@use '@tedi-design-system/core/bootstrap-utility/breakpoints';

$input-height: 2.5rem;
$input-height-small: 2rem;

div.tedi-select__control {
  padding: calc(var(--form-field-padding-y-md-default) - 1px) var(--form-field-padding-x-md-default);
  border: 1px solid var(--form-input-border-default);

  @include mixins.print-grayscale;

  .tedi-select__value-container {
    gap: var(--form-field-inner-spacing);
    padding: 0;
  }

  .tedi-select__indicators-container {
    gap: var(--layout-grid-gutters-04);
    align-items: flex-start;
  }

  .tedi-select__input {
    padding: 0;
    margin: 0;
  }

  &:hover {
    border-color: var(--form-input-border-hover);
  }

  &:active,
  &:focus {
    border-color: var(--form-input-border-hover);
    box-shadow: 0 0 0 1px var(--form-input-border-hover);
  }
}

.tedi-select--invalid .tedi-select__control {
  border-color: var(--form-general-feedback-error-border);

  &.tedi-select__control--focused {
    box-shadow: 0 0 0 1px var(--form-general-feedback-error-border);
  }
}

.tedi-select--valid .tedi-select__control {
  border-color: var(--form-general-feedback-success-border);

  &.tedi-select__control--focused {
    box-shadow: 0 0 0 1px var(--form-general-feedback-success-border);
  }
}

.tedi-select__arrow {
  .tedi-select--invalid .tedi-select__control--focused & {
    color: var(--form-general-feedback-error-text);
  }
}

.tedi-select__loading-indicator {
  display: flex;
  gap: var(--layout-grid-gutters-12);
  align-items: center;
}

.tedi-select--disabled .tedi-select__control {
  border-color: var(--form-input-border-disabled);
}

div.tedi-select__menu-portal {
  z-index: var(--z-index-dropdown);
}

div .tedi-select__menu {
  margin: 1px 0 0;
  overflow: hidden;
  border-radius: var(--form-field-radius);

  @include mixins.print-grayscale;
}

.tedi-select__menu .tedi-select__menu-list,
.tedi-select__menu .tedi-select__menu-list-inner {
  padding: 0;
}

.tedi-select__menu-list-footer {
  padding: 1rem;
  border-top: 1px solid var(--form-input-border-default);
}

.tedi-select__menu .tedi-select__option {
  color: var(--form-input-text-filled);
  cursor: pointer;
  background-color: var(--form-input-background-default);

  &:hover:not(.tedi-select__option--disabled) {
    background-color: var(--dropdown-item-hover-background);
  }

  &--focused {
    background-color: var(--form-input-background-default);
    border-radius: var(--dropdown-item-radius);
    box-shadow: inset 0 0 0 2px var(--form-input-border-hover);
  }

  &:active:not(.tedi-select__option--disabled),
  &--selected {
    color: var(--dropdown-item-active-text);
    background-color: var(--dropdown-item-active-background);

    &:hover:not(:disabled) {
      color: var(--dropdown-item-hover-text);
    }
  }

  &--selected {
    p,
    span {
      color: var(--dropdown-item-active-text);
    }

    &:hover:not(:disabled) {
      p,
      span {
        color: var(--dropdown-item-hover-text);
      }
    }
  }

  &--disabled {
    color: var(--general-text-disabled);
    cursor: not-allowed;
    background-color: var(--dropdown-item-disabled-background);
  }
}

.tedi-select--small {
  .tedi-select__control {
    min-height: $input-height-small;
    padding: calc(var(--form-field-padding-y-sm) - 1px) var(--form-field-padding-x-md-default);
    font-size: var(--body-small-regular-size);

    @include breakpoints.media-breakpoint-down(md) {
      min-height: $input-height;
      padding-top: calc(var(--form-field-padding-y-md-default-top) - 1px);
      padding-bottom: calc(var(--form-field-padding-y-md-default-bottom) - 1px);
      font-size: var(--body-regular-size);
    }
  }

  .tedi-select__input,
  .tedi-select__arrow {
    padding: 0;
  }
}

div.tedi-select__multi-value-item {
  display: flex;
  flex-shrink: 0;
  align-items: baseline;
}

.tedi-select__checkbox {
  pointer-events: none;
}

.tedi-select .tedi-select__group {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;

  &:first-child {
    padding-top: 0;
  }

  &:last-child {
    padding-bottom: 0;
  }
}

.tedi-select .tedi-select__group-heading {
  padding: 0.5rem 0.75rem;
  margin-bottom: 0;
}

.tedi-select__multi-value-clear {
  margin: -0.125rem -0.25rem -0.125rem 0;
}

:global {
  .tedi-select__value-container {
    gap: var(--form-field-inner-spacing);
    padding: 0 !important;

    .tedi-select__placeholder {
      color: var(--form-input-text-placeholder);
    }
  }
}

.tedi-select--tags-row {
  :global .select__control > .select__value-container--is-multi {
    flex-wrap: nowrap;

    &::after {
      position: absolute;
      inset: 0;
      pointer-events: none;
      content: '';
      box-shadow: inset 0.5rem 0 0.25rem -0.25rem var(--tedi-alpha-100);
    }
  }

  &.tedi-select--searchable :global .tedi-select__control > .tedi-select__value-container--is-multi {
    justify-content: flex-end;
  }

  :global .tedi-select__control--is-focused .tedi-select__input {
    min-width: 5rem !important; // no other way to override style
  }
}

.tedi-select--tags-stack {
  :global .select__input-container {
    grid-template-columns: 0 min-content;
    margin: 0;
  }
}

.tedi-select__separator {
  height: var(--dimensions-13);
}

.tedi-select--searchable {
  .tedi-select__control--focused {
    cursor: text;
  }
}
