@use '@tedi-design-system/core/bootstrap-utility/breakpoints';

.tedi-sidenav-toggle {
  width: 3.5rem;
  height: 3.5rem;
  margin: 0;
  border-radius: 0;

  @include breakpoints.media-breakpoint-up(lg) {
    display: none;
  }

  &.tedi-sidenav-toggle--collapse {
    position: absolute;
    top: calc(var(--navigation-vertical-item-min-height-medium) / 5.5);
    right: calc(var(--button-sm-icon-size) / 2 * -1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: var(--button-sm-icon-size);
    height: var(--button-sm-icon-size);
    min-height: var(--button-sm-icon-size);
    border-radius: var(--radius-08);

    @include breakpoints.media-breakpoint-down(md) {
      display: none;
    }
  }
}
