@use '@tedi-design-system/core/bootstrap-utility/breakpoints';

.tedi-number-field {
  display: flex;

  &:hover:not(.tedi-number-field--disabled) {
    .tedi-number-field__button:not(:disabled),
    .tedi-number-field__input-wrapper:not(:disabled) {
      border-color: var(--form-input-border-hover);
    }
  }

  .tedi-number-field__button {
    width: var(--form-field-height);
    border: 1px solid var(--form-input-border-default);

    &__disabled,
    &:disabled {
      background-color: var(--form-input-background-disabled);
      border: 1px solid var(--form-input-border-disabled);
      opacity: 0.5;
    }

    &--decrement {
      margin-right: -1px;
      border-radius: var(--button-radius-sm) 0 0 var(--button-radius-sm);
    }

    &--increment {
      margin-left: -1px;
      border-radius: 0 var(--button-radius-sm) var(--button-radius-sm) 0;
    }

    @include breakpoints.media-breakpoint-down(md) {
      flex: none;
    }
  }

  &--invalid:not(.tedi-number-field--disabled) {
    .tedi-number-field__button,
    .tedi-number-field__button:disabled,
    .tedi-number-field__button:hover,
    .tedi-number-field__input-wrapper {
      border-color: var(--form-general-feedback-error-border);
    }

    .tedi-number-field__input-wrapper {
      &:focus-within {
        outline-color: var(--form-general-feedback-error-border);
      }

      &:active {
        z-index: 2;
        border-color: var(--form-general-feedback-error-border);
        border-radius: 0;
        outline: none;
      }
    }
  }

  &--disabled {
    .tedi-number-field__button,
    .tedi-number-field__button:disabled,
    .tedi-number-field__input-wrapper {
      background-color: var(--form-input-background-disabled);
      border-color: var(--form-input-border-disabled);
    }

    .tedi-number-field__input-wrapper {
      background-color: var(--form-input-background-disabled);
      opacity: 0.5;

      .tedi-number-field__input {
        background-color: var(--form-input-background-disabled);
      }
    }
  }

  &--small {
    .tedi-number-field__input-wrapper,
    .tedi-number-field__button {
      height: var(--form-field-height-sm);
    }

    @include breakpoints.media-breakpoint-down(md) {
      width: 100%;
    }
  }
}

.tedi-number-field__input-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--form-field-inner-spacing-sm);
  align-items: stretch;
  width: 5rem;
  height: var(--form-field-height);
  padding-right: var(--form-field-padding-y-3-default);
  padding-left: var(--form-field-padding-y-3-default);
  background-color: var(--form-input-background-default);
  border: 1px solid var(--form-input-border-default);

  &:focus-within {
    z-index: 1;
    border-color: var(--form-input-border-active);
    border-radius: var(--button-radius-sm);
    outline: calc(2 * 1px) solid var(--form-input-border-active);
    outline-offset: -1px;
  }

  &:active {
    z-index: 2;
    border-color: var(--form-input-border-active);
    border-radius: 0;
    outline: none;
  }

  &--full-width {
    width: 100%;
  }

  &--with-suffix {
    .tedi-number-field__input {
      grid-column: span 1;
      text-align: right;
    }

    .tedi-number-field__suffix {
      align-self: center;
      text-align: left;
      user-select: none;
    }
  }

  @include breakpoints.media-breakpoint-down(md) {
    width: 100%;
  }
}

.tedi-number-field__input {
  grid-column: span 2;
  width: 100%;
  min-width: 2rem;
  font-size: var(--heading-h6-size);
  color: var(--form-input-text-filled);
  text-align: center;
  background-color: var(--form-input-background-default);
  border: 0;
  border-radius: 0;
  outline: none;

  //  /* Chrome, Safari, Edge, Opera */
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    appearance: none;
  }

  /* Firefox */
  &[type='number'] {
    appearance: textfield;
  }
}
