.tedi-scale-bar {
  &__wrapper {
    display: flex;
    gap: var(--layout-grid-gutters-04);
    align-items: flex-end;
    font-size: var(--body-extra-small-size);
    line-height: var(--body-extra-small-line-height);
    color: var(--button-map-info-text-default);
  }

  &__indicator {
    position: relative;
    height: 1px;
    background-color: var(--button-map-info-text-default);

    &::after,
    &::before {
      position: absolute;
      bottom: 0;
      width: 1px;
      height: 10px;
      content: '';
      background-color: var(--button-map-info-text-default);
    }

    &::before {
      left: 0;
    }

    &::after {
      right: 0;
    }
  }
}
