.toggle--open {
  margin-left: 0.5rem;
  transform: rotate(180deg);
  transition-timing-function: ease-in-out;
  transition-duration: 600ms;
  transition-property: transform;
}

.toggle--close {
  margin-left: 0.5rem;
  transition-timing-function: ease-in-out;
  transition-duration: 600ms;
  transition-property: transform;
}
