.tedi-table-of-contents--sticky {
  max-height: calc(100dvh - 3rem);
  overflow-y: auto;
}

.tedi-table-of-contents__heading {
  padding: var(--card-padding-md-default);
}

.tedi-table-of-contents__list,
.tedi-table-of-contents__group {
  display: flex;
  flex-direction: column;
  gap: var(--layout-grid-gutters-08);
  padding: 0;
  margin: 0;
  list-style: none;
}

.tedi-table-of-contents__list {
  padding-bottom: var(--card-padding-md-default);
}

.tedi-table-of-contents__item {
  display: flex;
  flex-direction: column;
  gap: var(--layout-grid-gutters-08);
}

.tedi-table-of-contents__row {
  display: flex;
  gap: var(--layout-grid-gutters-04);
  align-items: center;
  padding-right: var(--table-of-contents-padding-level-1);
  padding-left: calc(var(--table-of-contents-padding-level-1) - var(--table-of-contents-active-item-border-width));
  border-left: var(--table-of-contents-active-item-border-width) solid transparent;
}

.tedi-table-of-contents__row--level-2 {
  padding-left: calc(var(--table-of-contents-padding-level-2) - var(--table-of-contents-active-item-border-width));
}

.tedi-table-of-contents__icon {
  flex-shrink: 0;
}

.tedi-table-of-contents__number {
  flex-shrink: 0;
  min-width: 1.5rem;
  color: var(--link-primary-default);
  text-align: right;
}

.tedi-table-of-contents__content {
  flex: 1 1 auto;
  min-width: 0;
  overflow-wrap: anywhere;
}

.tedi-table-of-contents__item--active > .tedi-table-of-contents__row {
  border-left-color: var(--general-border-brand);

  .tedi-table-of-contents__number {
    color: var(--link-primary-active);
  }

  .tedi-table-of-contents__content :is(a, button) {
    color: var(--link-primary-active);
  }
}
