.tedi-ellipsis {
  display: -webkit-box;

  // Fallback for unsupported browsers
  overflow: hidden;
  text-overflow: ellipsis;
  hyphens: auto;
  word-break: break-word;
  -webkit-box-orient: vertical;
}
