@use '@tedi-design-system/core/mixins';
@use '@tedi-design-system/core/bootstrap-utility/breakpoints';

.tedi-comparison {
  &__wrapper {
    user-select: none;

    &--relative {
      position: relative;
    }

    &--absolute {
      position: absolute;
    }

    &--fixed {
      position: fixed;
    }

    &--static {
      position: static;
    }
  }

  &__layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
    object-fit: cover;
  }

  &__drag-indicator {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 50;
    pointer-events: none;

    @include breakpoints.media-breakpoint-down(md) {
      inset: auto 0;
      z-index: 100;
      width: 100%;
      height: auto;
    }
  }

  &__primary {
    outline: 4px solid var(--drag-indicator-accent);
    outline-offset: -4px;
  }

  &__drag-line {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 10;
    width: var(--drag-indicator-vertical-width);
    height: var(--drag-indicator-vertical-width);
    background-color: var(--drag-indicator-accent);
    transform: translateX(-2px);

    @include breakpoints.media-breakpoint-down(md) {
      top: auto;
      right: 0;
      left: 0;
      width: 100%;
      transform: translateY(0);
    }
  }

  &__drag-handle {
    position: absolute;
    top: 50%;
    z-index: 12;
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--button-sm-icon-size);
    height: var(--button-sm-icon-size);
    margin-right: calc((var(--button-sm-icon-size) / 2) * -1);
    color: var(--button-floating-secondary-text-default);
    background-color: var(--button-floating-secondary-background-default);
    border-radius: var(--button-radius-default);
    box-shadow: 0 4px 10px 0 var(--tedi-alpha-14);
    transform: translate(-50%, -50%);

    &__icon {
      color: var(--general-text-brand);

      @include breakpoints.media-breakpoint-down(md) {
        transform: rotate(90deg);
      }
    }

    > span {
      width: 100%;
    }

    @include breakpoints.media-breakpoint-down(md) {
      top: auto;
      left: 50%;
      margin-right: 0;
      margin-bottom: calc((var(--button-sm-icon-size) / 2) * -1);
    }
  }

  &__close-button {
    position: fixed;
    top: 20%;
    z-index: 200;
    flex-shrink: 0;
    margin-left: -1.25rem;

    @include breakpoints.media-breakpoint-down(md) {
      top: auto;
      bottom: 20%;
    }
  }
}
