.tedi-textarea {
  &__input {
    box-sizing: border-box;
    display: block;
    width: 100%;
    line-height: 1.5;
    resize: vertical;

    &--auto-grow {
      overflow-y: auto;
      resize: none;
    }
  }

  &__character-count {
    flex-grow: 1;
    text-align: right;
  }
}
