.tedi-right-panel {
  position: relative;
  top: 10px;
  right: 10px;
  z-index: 1000;
  width: 330px;
  overflow: hidden;
  border-radius: var(--sidepanel-right-radius);
  box-shadow: 0 1px 5px 0 var(--tedi-alpha-20);

  &--single {
    .tedi-right-panel__accordion-header {
      padding: 10px;
      background-color: var(--sidepanel-header-background-default);

      & > * {
        display: flex;
        flex-direction: column;
        gap: var(--layout-grid-gutters-08);
        align-items: flex-start;
        align-self: flex-start;

        &:not(:last-child) {
          align-self: center;
        }
      }
    }
  }

  &__closer {
    & > * {
      color: var(--general-text-white);
    }
  }
}
