@use '@tedi-design-system/core/bootstrap-utility/breakpoints';

.tedi-editing-actions {
  position: relative;
  z-index: 10;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding-right: var(--button-gutter-x);
  padding-left: var(--button-gutter-x);
  margin-top: 10px;
  background-color: var(--general-surface-primary);
  border: 1px solid var(--button-main-neutral-border-default);
  border-radius: var(--card-radius-rounded);
  box-shadow: 0 1px 5px 0 var(--tedi-alpha-20);

  @include breakpoints.media-breakpoint-down(xl) {
    display: inline-block;
  }

  @include breakpoints.media-breakpoint-down(md) {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: var(--card-padding-xs);
  }

  > * {
    position: relative;

    &::after {
      position: absolute;
      top: 2px;
      right: 0;
      bottom: 2px;
      width: 1px;
      content: '';
      background-color: var(--general-border-primary);
    }

    &:last-child {
      &::after {
        display: none;
      }
    }

    @include breakpoints.media-breakpoint-down(md) {
      padding: 0;

      &::after {
        display: none;
      }
    }
  }
}
