.tedi-search {
  &__wrapper {
    position: relative;
    display: flex;
    align-items: flex-end;
    width: 100%;
  }

  &__input {
    flex: 1;
    min-width: 0;

    &--has-button {
      border-right: 0;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  &__wrapper &__icon--disabled {
    color: var(--general-text-disabled);
  }

  &__button {
    flex: 0 0 auto;
    min-width: fit-content;
    white-space: nowrap;
    border-radius: 0 var(--button-radius-sm) var(--button-radius-sm) 0;
  }

  &__wrapper &__button {
    height: var(--form-field-height);
  }

  &__wrapper--small &__button {
    height: var(--form-field-height-sm);
  }

  &__wrapper--large &__button {
    height: var(--form-field-height-lg);
  }

  &__wrapper &__button--icon-only {
    width: var(--button-md-icon-size);
    min-width: 0;
    height: var(--button-md-icon-size);
    min-height: var(--button-md-icon-size);
    padding: var(--button-md-icon-padding);
  }

  &__wrapper--small &__button--icon-only {
    width: var(--button-sm-icon-size);
    height: var(--button-sm-icon-size);
    min-height: var(--button-sm-icon-size);
    padding: var(--button-sm-icon-padding);
  }

  &__wrapper--large &__button--icon-only {
    width: var(--form-field-height-lg);
    height: var(--form-field-height-lg);
    min-height: var(--form-field-height-lg);
    padding: var(--button-lg-icon-padding);
  }
}
