:root {
  --selected-option-width: 36px;
  --selected-option-height: 20px;
}

.tedi-color-and-icon-picker {
  display: flex;
  align-items: center;
  height: var(--form-field-height);
  padding: var(--form-field-padding-y-md-default);
  background: var(--form-input-background-default);
  border: 1px solid var(--form-input-border-default);
  border-radius: var(--form-field-radius);

  & [data-name='icon'] {
    color: var(--general-icon-secondary);
  }

  &__items {
    display: flex;
  }

  &__wrapper {
    flex-wrap: wrap;
    gap: var(--form-field-inner-spacing);
    max-width: 220px;
    padding: var(--dropdown-body-padding-y) var(--dropdown-body-padding-x);

    > button {
      padding: 0;
      background: none;
    }
  }

  &:hover {
    border-color: var(--card-border-selected);
  }

  &:focus-visible {
    border-color: var(--card-border-selected);
    outline: var(--borders-02) solid var(--tedi-primary-500);
    outline-offset: 1px;
  }

  &__inline {
    display: flex;
    gap: 5px;
    width: 100%;
    padding: 0;
  }
}

.tedi-visual-option__icon {
  color: inherit;
}

.tedi-color-and-icon-picker__dropdown-item {
  display: flex;
  gap: 10px;
  align-items: center;
  cursor: pointer;
}

.tedi-color-and-icon-picker__visual {
  width: var(--form-radio-selection-size);
  height: var(--form-radio-selection-size);
  line-height: 1;
  border-radius: var(--card-radius-rounded);

  &--icon {
    line-height: 0.5;
    border: 1px solid var(--tedi-alpha-white-20);
  }

  &--color {
    border: 1px solid var(--form-input-border-default);
  }

  &--selected {
    width: var(--selected-option-width);
    height: var(--selected-option-height);
    border-color: var(--tedi-neutral-100);
    border-radius: 3px;
  }

  &--none {
    position: relative;
    overflow: hidden;
    background: var(--tedi-neutral-100);
    background-color: var(--tedi-alpha-01);
    border: 1px solid var(--form-input-border-default);

    &::before {
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      height: 2px;
      content: '';
      background-color: var(--red-700);
      transform: rotate(45deg);
      transform-origin: center;
    }
  }

  &:hover,
  &--active {
    cursor: pointer;
    outline: 2px solid var(--card-border-selected);
    outline-offset: 1px;

    & [data-name='icon'] {
      color: var(--general-icon-brand);
    }
  }
}
