@use '@tedi-design-system/core/mixins';

.light-item__input {
  @include mixins.visually-hidden;
}

.light-item__label {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.625rem 0.5rem;
  margin: 1px;
  font-size: 0.875rem;
  color: var(--general-text-secondary);
  cursor: pointer;
  background: var(--general-surface-primary);
  border: 1px solid var(--general-surface-disabled);
  border-radius: var(--tedi-radius-02-default);

  .light-item__input:focus + & {
    @include mixins.focus-element;
  }

  .light-item--disabled & {
    color: var(--general-text-disabled);
    cursor: unset;
    background-color: var(--general-surface-disabled);
  }

  .light-item--checked & {
    margin: 0;
    color: var(--general-text-brand);
    background-color: var(--general-surface-primary);
    border: 2px solid var(--general-border-brand);
  }
}
