@use '@tedi-design-system/core/mixins';

.tedi-closing-button {
  --general-icon-primary: var(--button-close-text-default);

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  cursor: pointer;
  background-color: var(--button-close-background-default);
  border: 1px solid var(--button-close-background-default);
  border-radius: var(--button-radius-default);
  transition: background 0.5s ease;

  @each $state in hover, active {
    &:#{ $state } {
      --general-icon-primary: var(--button-close-text-#{$state});

      background-color: var(--button-close-background-#{$state});
    }
  }

  &:focus-visible {
    outline: 2px solid var(--button-main-primary-border-focus);
    outline-offset: -2px;
  }

  &--medium {
    width: var(--button-xs-icon-size);
    height: var(--button-xs-icon-size);
  }

  &--large {
    width: var(--button-sm-icon-size);
    height: var(--button-sm-icon-size);
  }
}
