.tedi-multi-value-field__tags {
  position: absolute;
  top: 0;
  right: 4rem;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  gap: var(--layout-grid-gutters-04);
  padding: var(--form-field-padding-y-md-default) var(--form-field-padding-x-md-default);
}

.tedi-multi-value-field__input {
  box-sizing: border-box;
  min-height: var(--tags-height, var(--form-field-height));
  color: var(--tedi-alpha-01);
}
