.tedi-text-group {
  margin-bottom: var(--dimensions-03);

  &--horizontal {
    display: flex;
    gap: 1rem;
    align-items: flex-start;
  }

  &__label {
    display: flex;
    flex-shrink: 0;
    width: var(--label-width, auto);
  }

  &__value {
    display: flex;
    gap: var(--text-group-value-inner-spacing);
    align-items: center;
  }
}
