@use '@tedi-design-system/core/mixins';
@use '@tedi-design-system/core/bootstrap-utility/breakpoints';

.tedi-choice-group {
  position: relative;
  padding: 0;
  margin: 0;
  border: none;

  legend {
    padding: 0;
  }
}

.tedi-choice-group__inner--indented {
  padding-left: calc(var(--form-checkbox-radio-subitem-padding-left) - 5px);

  @include breakpoints.media-breakpoint-down(md) {
    padding-left: var(--form-checkbox-radio-subitem-padding-left);
  }
}
