@mixin header-language-button {
  [data-name='button'] {
    color: var(--header-dropdown-default);

    &:hover {
      color: var(--header-dropdown-hover);
    }

    &:active {
      color: var(--header-dropdown-active);
    }

    &:focus {
      color: var(--header-dropdown-focus);
    }
  }
}

.tedi-header-language {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100%;

  @include header-language-button;

  &__icon {
    transition: transform 0.2s ease-in-out;

    &--open {
      transform: rotate(-180deg);
    }
  }

  &__mobile {
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--layout-header-mobile-button-size);
    min-width: var(--layout-header-mobile-button-min-size);
    height: var(--layout-header-mobile-button-min-size);
  }

  &__selected {
    display: flex;
    gap: var(--link-inner-spacing-x);
    align-items: center;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: var(--layout-grid-gutters-08);
    align-items: flex-start;

    @include header-language-button;
  }
}
