.tedi-time-picker-modal {
  --modal-body-padding: 0;
  --modal-body-padding-sm: 0;
  --modal-max-width-xs: var(--tedi-containers-03);
}

.tedi-time-picker-modal__header {
  display: flex;
  gap: var(--tedi-dimensions-05);
  align-items: center;
  justify-content: space-between;
}

.tedi-time-picker-modal__title {
  flex: 1 0 0;
  min-width: 0;
  margin: 0;
}

.tedi-time-picker-modal__body {
  display: flex;
  justify-content: center;
}

.tedi-time-picker-modal__picker {
  width: 100%;
}
