:root,
.Toastify__toast-theme--light {
  --toastify-color-progress-light: transparent !important;
}

.tedi-toast {
  display: block;
  width: 100%;

  &__progress {
    background: var(--toast-progress-color) !important;

    &--success {
      --toast-progress-color: var(--alert-default-border-success);
    }

    &--info {
      --toast-progress-color: var(--alert-default-border-info);
    }

    &--danger {
      --toast-progress-color: var(--alert-default-border-danger);
    }

    &--warning {
      --toast-progress-color: var(--alert-default-border-warning);
    }
  }
}
