@use '@tedi-design-system/core/mixins';

$bullet-colors: (
  'primary': 'general-icon-primary',
  'secondary': 'general-icon-secondary',
  'tertiary': 'general-icon-tertiary',
  'brand': 'general-icon-brand',
  'brand-dark': 'general-icon-brand-dark',
  'success': 'general-icon-success',
  'warning': 'general-icon-warning',
  'warning-dark': 'general-icon-warning-dark',
  'danger': 'general-icon-danger',
  'white': 'general-icon-white',
);

.tedi-list {
  &:not([data-name='vertical-spacing']) {
    .tedi-list__item {
      &:not([data-name='vertical-spacing-item']) {
        margin-top: var(--list-list-item-margin-y);
        margin-bottom: var(--list-list-item-margin-y);
      }
    }
  }
}

.tedi-list--unordered {
  padding-left: var(--list-padding-left-level-1);
  list-style: none;

  .tedi-list__item {
    position: relative;
    padding-left: var(--list-padding-left-level-1);

    &::before {
      position: absolute;
      top: 0.5em;
      left: 0;
      width: var(--list-icon-size);
      height: var(--list-icon-size);
      content: '';
      border: 2px solid;
      border-radius: 50%;
    }

    ul.tedi-list .tedi-list__item::before {
      border-width: 1px;
    }

    ul.tedi-list .tedi-list__item ul.tedi-list .tedi-list__item::before {
      width: calc(var(--list-icon-size) * 0.9);
      height: calc(var(--list-icon-size) * 0.9);
    }
  }

  ul.tedi-list {
    padding-left: 0;
  }

  &.tedi-list {
    @each $name, $var in $bullet-colors {
      &--bullet-color-#{$name} {
        li::before {
          border-color: var(--#{$var});
        }
      }
    }
  }
}

.tedi-list--ordered {
  padding-left: var(--list-padding-left-level-1);
  list-style: none;
  counter-reset: item;

  .tedi-list__item {
    counter-increment: item;

    &::before {
      content: counters(item, '.') '. ';
    }

    ol {
      counter-reset: item;
    }
  }
}

.tedi-list--style-none {
  padding: 0;
  list-style: none;

  .tedi-list__item {
    &::before {
      display: none;
    }
  }
}
