.tabs__nav {
  display: flex;
  align-items: center;
  margin: 0;
  overflow-y: auto;
  list-style: none;
  background-color: var(--general-surface-secondary);
}

.tabs__nav-item {
  --global-outline-offset: -2px;
}

.tabs__nav-item--current {
  background-color: var(--general-surface-primary);
  border-top-left-radius: var(--tedi-radius-02-default);
  border-top-right-radius: var(--tedi-radius-02-default);
}

a.tabs__nav-link:not(:disabled) {
  display: inline-block;
  padding: 1rem;
  color: var(--general-text-primary);
  white-space: nowrap;

  .tabs__nav-item--current & {
    color: var(--general-text-brand);
  }

  &:hover:not(:disabled) span span {
    text-decoration: none;
  }

  .tabs__nav-item:not(.tabs__nav-item--current) &:hover {
    background-color: var(--general-surface-tertiary);
  }
}
