.tedi-label {
  display: inline;
  align-items: center;
  font-family: var(--family-default);
  font-size: var(--body-regular-size);
  font-style: normal;
  font-weight: var(--body-regular-weight);
  font-feature-settings: 'clig' off, 'liga' off;
  line-height: var(--body-regular-line-height);
  color: var(--general-text-secondary);

  &--small {
    font-size: var(--body-small-regular-size);
    font-weight: var(--body-small-regular-weight);
  }

  &--bold {
    font-weight: var(--body-bold-weight);
    line-height: var(--body-bold-line-height);
  }

  &__required {
    margin-left: var(--content-label-inner-spacing-x);
    color: var(--form-general-feedback-error-border);
  }
}
