.tedi-overlay {
  &__trigger {
    width: fit-content;
    height: fit-content;

    &:not(button, a) {
      cursor: default;
      user-select: text;
    }

    &--text {
      text-decoration: underline dashed var(--general-border-secondary);
      text-underline-offset: 0.5em;

      &:hover {
        color: var(--link-primary-default);
        text-decoration-color: var(--general-border-brand);
      }
    }

    &--click {
      cursor: pointer !important;
    }
  }
}
