@use '@tedi-design-system/core/mixins';

@mixin alert-variant($background, $border) {
  color: var(--general-text-primary);
  background-color: $background;
  border-color: $border;
}

.tedi-alert {
  padding: var(--alert-default-padding-y) var(--alert-default-padding-x);
  font-size: var(--body-regular-size);
  border: 1px solid;
  border-radius: var(--alert-radius);

  @include alert-variant(var(--alert-default-background-info), var(--alert-default-border-info));

  &__content {
    display: flex;
    gap: var(--alert-default-inner-spacing-x);
    align-items: flex-start;

    .tedi-alert__icon {
      line-height: var(--body-regular-line-height);
    }
  }

  &--info {
    @include alert-variant(var(--alert-default-background-info), var(--alert-default-border-info));
  }

  &--success {
    @include alert-variant(var(--alert-default-background-success), var(--alert-default-border-success));
  }

  &--warning {
    @include alert-variant(var(--alert-default-background-warning), var(--alert-default-border-warning));
  }

  &--danger {
    @include alert-variant(var(--alert-default-background-danger), var(--alert-default-border-danger));
  }

  &--global {
    width: 100%;
    border: 0;
    border-radius: 0;
  }

  &--no-side-borders {
    border-right: none;
    border-left: none;
    border-radius: 0;
  }
}

@media print {
  .tedi-alert {
    @include alert-variant(var(--tedi-neutral-100), var(--tedi-neutral-350));
  }
}
