.tedi-sheet-overlay {
  position: fixed;
  inset: 0;
  z-index: 9999;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: var(--tedi-alpha-40);
  transition: opacity 0.3s ease;
}

.tedi-sheet {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: var(--dropdown-item-default-background);
  transition: transform 0.3s ease, opacity 0.3s ease;

  &--bottom {
    align-self: flex-end;
    border-top-left-radius: var(--sheet-header-radius);
    border-top-right-radius: var(--sheet-header-radius);
    transform: translateY(100%);

    &.is-visible {
      transform: translateY(0);
    }
  }

  &--top {
    align-self: flex-start;
    border-bottom-right-radius: var(--sheet-header-radiu);
    border-bottom-left-radius: var(--sheet-header-radiu);
    transform: translateY(-100%);

    &.is-visible {
      transform: translateY(0);
    }
  }

  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--sheet-header-padding-y) var(--sheet-header-padding-x);
    background-color: var(--sheet-header-background-default);
    border-top-left-radius: var(--sheet-header-radius);
    border-top-right-radius: var(--sheet-header-radius);

    &-content {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
    }

    &-actions {
      display: flex;
      gap: 0.5rem;
      align-items: center;
    }

    .tedi-sheet__handle {
      width: 32px;
      height: 4px;
      margin: 0.25rem auto 0;
      background-color: var(--drag-indicator-light);
      border-radius: var(--drag-indicator-radius);
    }

    &--active {
      background-color: var(--sheet-header-background-brand);

      &.tedi-sheet__handle {
        background-color: var(--tedi-alpha-50);
      }
    }

    &:hover {
      cursor: pointer;
    }
  }

  &__content {
    flex-grow: 1;
    overflow-y: auto;
  }

  &__footer {
    padding: var(--sheet-footer-padding-y) var(--sheet-footer-padding-x);
  }
}

.tedi-sheet__closer--active {
  > * {
    color: var(--button-main-neutral-inverted-text-default);
  }
}

.tedi-sheet--peek {
  transform: translateY(calc(100% - 68px));
}

.tedi-sheet-overlay--peek {
  background-color: var(--tedi-alpha-01);

  &.is-visible {
    background-color: var(--tedi-alpha-40);
  }
}

.tedi-sheet__heading {
  display: flex;
  gap: var(--layout-grid-gutters-04);
  align-items: center;
}
