.tedi-sidenav-dropdown {
  z-index: var(--z-index-dropdown);
  min-width: 16.5rem;
  overflow: hidden;
  background: var(--dropdown-item-default-background);
  border-radius: var(--radius-02-default);
  box-shadow: 0 1px 5px var(--tedi-alpha-20);
}

.tedi-sidenav-dropdown__heading {
  padding: var(--layout-grid-gutters-02) var(--dropdown-group-label-padding-x) var(--layout-grid-gutters-04)
    var(--dropdown-group-label-padding-x);
  font-size: var(--size-01);
  font-weight: 600;
  color: var(--general-text-tertiary);
  text-transform: uppercase;
}

.tedi-sidenav-dropdown__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.tedi-sidenav-dropdown__item {
  width: 100%;
}

.tedi-sidenav-dropdown__link {
  display: block;
  justify-content: flex-start;
  padding: var(--dropdown-item-padding-y) var(--dropdown-item-padding-x);
  color: var(--dropdown-item-default-text);
  cursor: pointer;
  border-radius: 0;

  &:hover {
    color: var(--dropdown-item-hover-text);
    background-color: var(--dropdown-item-hover-background);
  }
}

.tedi-sidenav-dropdown__item--has-children {
  position: relative;

  .tedi-sidenav-dropdown__item {
    .tedi-sidenav-dropdown__link {
      position: relative;
      padding-left: calc(
        var(--dropdown-item-padding-x) + var(--sidenav-tree-container) + var(--dropdown-item-inner-spacing)
      );

      &::before {
        position: absolute;
        top: 0;
        bottom: 0;
        left: calc(((var(--dropdown-item-padding-x) / 2) + var(--dropdown-item-padding-x)));
        width: var(--tree-trunk-width);
        content: '';
        background-color: var(--navigation-vertical-tree-neutral-default);
        border-radius: 0;
      }

      &::after {
        position: absolute;
        top: 20px;
        bottom: 0;
        left: calc(((var(--dropdown-item-padding-x) / 2) + var(--dropdown-item-padding-x)));
        width: var(--tree-branch-width);
        height: var(--tree-trunk-width);
        content: '';
        background-color: var(--navigation-vertical-tree-neutral-default);
        border-radius: 0 var(--button-radius-sm) var(--button-radius-sm) 0;
      }
    }

    &:last-child {
      .tedi-sidenav-dropdown__link::before {
        height: calc(50% + var(--tree-trunk-width));
      }
    }
  }
}
