@use '@tedi-design-system/core/mixins';

.text-editor__inner {
  display: flex;
  flex-direction: column;
  padding: 0.75rem 1rem;
  background-color: var(--general-surface-primary);
  border: 1px solid var(--general-border-secondary);
  border-radius: var(--tedi-radius-02-default);

  .text-editor--invalid & {
    border-color: var(--general-status-danger-border);
  }

  .text-editor--focused & {
    outline: none;
    border-color: var(--general-border-brand);
    box-shadow: 0 0 0 1px var(--general-border-brand);
  }
}

.text-editor__controls {
  display: flex;
  column-gap: 0.25rem;
}

.text-editor__control-block {
  display: flex;
  column-gap: 0.25rem;
}

.text-editor__content {
  padding-top: 1rem;
  color: var(--general-text-primary);
}

.style-button {
  @include mixins.button-reset;

  display: flex;
  color: var(--general-text-secondary);

  &:hover {
    color: var(--general-text-primary);
  }
}

.style-button--active {
  color: var(--general-text-primary);
  background-color: var(--general-surface-tertiary);
  border-radius: var(--tedi-radius-02-default);
}
