.tabs {
  background: var(--general-surface-primary);
  border: 1px solid var(--general-border-primary);
  border-radius: var(--tedi-radius-02-default);
}

.tabs__content {
  transition: height 300ms cubic-bezier(0.22, 0.61, 0.35, 1);
}
