@use '@tedi-design-system/core/mixins';

.tedi-collapse {
  &__title {
    width: 100%;
    text-align: left;
    cursor: pointer;

    @include mixins.button-reset;
  }

  &__text {
    &--underline {
      text-decoration: underline;
    }
  }

  &__icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--button-sm-icon-size);
    height: var(--button-sm-icon-size);
    border: var(--borders-01) solid var(--button-main-secondary-border-default);
    border-radius: 100%;
  }

  &__icon {
    color: var(--button-main-neutral-text-default);
    transition: transform 300ms ease;
  }

  &--is-open > .tedi-collapse__title .tedi-collapse__icon {
    transform: rotate(180deg);
  }

  &__content {
    margin-top: var(--dimensions-05);
  }
}
